{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

<body>
  
  {% call componentHeader({
    classes: "relative z-40",
    "homepageUrl": "/",
    "subnav": {
      "text": "CARD",
      "items": [
        {
          "text": "SEDA",
          "href": "/"
        },
        {
          "text": "CARD",
          "href": "/",
          "active": true
        },
        {
          "text": "TTO",
          "href": "/"
        }
      ]
    },
    "navigation": {
      "items": [
        {
          "href": "#1",
          "text": "Inicio"
        },
        {
          "href": "#1",
          "text": "Solicitudes"
        },
        {
          "href": "#2",
          "text": "Tarjetas y certificados"
        },
        {
          "href": "#2",
          "text": "Destrucción de Tarjetas",
          "active": true
        }
      ]
    },
    "dropdown": {
      "text": "Marta Pérez",
      "items": [
        {
          "text": "Perfil",
          "href": "/"
        },
        {
          "text": "Salir",
          "href": "/"
        }
      ]
    },
    "offcanvas": {
      "text": "Menu",
      "textClose": "Cerrar menu"
    },
    "attributes": {
        "data-module": "c-header"
      }
    })  %}

        
          <h3 class="p-base text-base font-bold">Menú principal</h3>        
          
          {{ componentNav({
            "items": [
              {
                "href": "#1",
                "text": "Inicio"
              },{
                "href": "#1",
                "text": "Solicitudes"
              },
              {
                "href": "#2",
                "text": "Tarjetas y certificados"
              },
              {
                "href": "#2",
                "text": "Destrucción de Tarjetas",
                "active": true
              }
            ],
            "attributes": {
              "aria-label": "Menú mobile páginas"
            }
          })  }}


          <h3 class="p-base pt-xl text-base font-bold">Marta Pérez</h3> 

          {{ componentNav({
            "items": [
              {
                "href": "http://www.google.com",
                "text": "Perfil"
              },
              {
                "href": "http://www.google.com",
                "text": "Salir"
              }
            ],
            "attributes": {
              "aria-label": "Menú mobile Usuario"
            }
          })  }}

     
  {% endcall %}

  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  
  <main id="content" class="container mx-auto p-base sm:py-lg">
    {% block contentBlock %}
    {% endblock %}
  </main>
{% include "pages/_page.foot.njk" %}
