{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}

<body>  
  {% call componentHeader({
    classes: "relative z-40",
    navigation: {
      classes: "hidden md:block",
      items: [
      {
        text: "Test",
        href: "index.html"
      }],
      attributes: {
        "aria-label": "Navegación principal"
      }
    },
    offcanvas: {
      text: "Menú",
      textClose: "Cerrar menú"
    }
  }) %}
  <ul>
    <li>
      <h3 class="p-base text-base font-bold">Páginas</h3>
        {% from "components/nav/_macro.nav.njk" import componentNav %}
        {{ componentNav({
          items: [
          {
            text: "Test",
            href: "index.html"
          }],
          attributes: {
            "aria-label": "Navegación principal"
          }
        }) }}
    </li>
  </ul>
  {% endcall %}
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="container mx-auto px-4 sm:px-6 lg:px-8">
    {% block contentBlock %}
    {% endblock %}
  </main>
{% include "pages/_page.foot.njk" %}
