{% include "pages/_page.head.njk" %}
{% from "components/button/_macro.button.njk" import componentButton %}

<body>

<header class="lg:fixed lg:inset-x-0 lg:top-0 z-40 bg-white border-b border-neutral-base">
  <div class="container mx-auto px-base ">
    <div class="lg:flex lg:flex-wrap lg:w-full py-base lg:py-lg">
      <div class="flex flex-1 items-center mb-base lg:mb-0">
        <!-- headerTitleIcon -->
        {% block headerTitleIcon %}
        {% endblock %}
        <!-- /headerTitleIcon -->
        <div class="flex-1">
          <!-- headerTitleEditBlock -->
          {% block headerTitleEditBlock %}
          {% endblock %}
          <!-- /headerTitleEditBlock -->
        </div>
      </div>
      <div class="flex lg:items-center lg:ml-auto lg:pl-base">
        <!-- headerActionsEditBlock -->
        {% block headerActionsEditBlock %}
        {% endblock %}
        <!-- /headerActionsEditBlock -->
      </div>
    </div>
  </div>
</header>

<!-- subheaderBlock -->
{% block subheaderBlock %}
{% endblock %}
<!-- /subheaderBlock -->

<main id="content" class="relative container mx-auto p-base sm:py-xl">
  <div class="lg:pb-2xl"></div> {# This is to push the content to avoid overlapping with he fixed header. Customize this according to the header height #}
  {% block contentBlock %}
  {% endblock %}
</main>

{% include "pages/_page.foot.njk" %}
