{% include "pages/_page.head.njk" %}

<body>
   
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->

  <main id="content" class="container mx-auto p-base sm:py-lg lg:pt-14">
    {% block contentBlock %}
    {% endblock %}
  </main>
  


{% include "pages/_page.foot.njk" %}