{% include "pages/_page.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}

<body>
  
  {{ componentHeader({
  classes: "relative z-40",
  "homepageUrl": "/",
  "subnav": {
      "text": "CARD",
      "items": [
        {
          "text": "SEDA",
          "href": "/"
        },
        {
          "text": "CARD",
          "href": "/",
          "active": true
        },
        {
          "text": "TTO",
          "href": "/"
        }
      ]
    },
  "attributes": {
        "data-module": "c-header"
      }
})  }}

  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  
  <main id="content" class="container mx-auto p-base sm:py-lg">
    {% block contentBlock %}
    {% endblock %}
  </main>
{% include "pages/_page.foot.njk" %}
