{% include "pages/_page.head.njk" %}
{% from "components/button/_macro.button.njk" import componentButton %}

<body>

<header class="lg:fixed lg:inset-x-0 lg:top-0 z-40 bg-white border-b border-neutral-base" data-module="c-header">
  <div class="container mx-auto px-base ">
    <div class="lg:flex lg:flex-wrap lg:w-full py-base lg:py-lg">
      <div class="flex flex-1 items-center mb-base lg:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" focusable="false" width="2.4em" height="2.4em" class="mr-base fill-current">
          <path d="M140 26.25a11.667 11.667 0 00-11.667-11.667H11.667A11.667 11.667 0 000 26.25v87.5a11.667 11.667 0 0011.667 11.667h17.5A5.833 5.833 0 0035 119.583v-4.375a4.375 4.375 0 014.375-4.375 4.433 4.433 0 014.375 4.375v4.375a5.833 5.833 0 005.833 5.834h40.834a5.833 5.833 0 005.833-5.834v-4.375a4.375 4.375 0 014.375-4.375 4.433 4.433 0 014.375 4.375v4.375a5.833 5.833 0 005.833 5.834h17.5A11.667 11.667 0 00140 113.75zm-11.667 84.583a2.917 2.917 0 01-2.916 2.917h-6.347a2.917 2.917 0 01-2.835-2.246 16.042 16.042 0 00-31.22 0 2.917 2.917 0 01-2.835 2.246H57.82a2.917 2.917 0 01-2.835-2.246 16.042 16.042 0 00-31.22 0 2.917 2.917 0 01-2.835 2.246h-6.347a2.917 2.917 0 01-2.916-2.917V29.167a2.917 2.917 0 012.916-2.917h110.834a2.917 2.917 0 012.916 2.917z"/>
          <path d="M83.125 67.083a4.375 4.375 0 004.375 4.375h27.9a4.375 4.375 0 000-8.75H87.5a4.375 4.375 0 00-4.375 4.375zM83.125 84.583a4.375 4.375 0 004.375 4.375h15.22a4.375 4.375 0 000-8.75H87.5a4.375 4.375 0 00-4.375 4.375zM87.5 53.958h29.167a4.375 4.375 0 000-8.75H87.5a4.375 4.375 0 000 8.75zM34.008 52.5a11.667 11.667 0 1023.334 0 11.667 11.667 0 10-23.334 0zM29.207 87.5h32.941a2.917 2.917 0 002.748-3.99A21 21 0 0045.675 70 21 21 0 0026.46 83.51a2.917 2.917 0 002.747 3.99z"/>
        </svg>
        <div class="flex-1">
          <h1 class="text-lg uppercase font-semibold leading-tight ">
            Solicitar tarjeta
          </h1>
        </div>
      </div>
      <div class="flex lg:items-center lg:ml-auto lg:pl-base">
        {{ componentButton({
          "text": "Cancelar",
          "href": "#"
        })  }}
        {{ componentButton({
          "text": "Enviar solicitud",
          "href": "#",
          "classes": "c-button--primary ml-base"
        })  }}
      </div>
    </div>
  </div>
</header>

<!-- subheaderBlock -->
{% block subheaderBlock %}
{% endblock %}
<!-- /subheaderBlock -->

<main id="content" class="relative container mx-auto p-base sm:py-xl">
  <div class="lg:pb-2xl"></div> {# This is to push the content to avoid overlapping with he fixed header. Customize this according to the header height #}
  {% block contentBlock %}
  {% endblock %}
</main>

{% include "pages/_page.foot.njk" %}
