{% extends "pages/_template.card-no-header.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% block contentBlock %}

  
  

    <div class="mx-4 p-4">
        <div class="flex items-center">
            <div class="flex items-center text-teal-600 relative">
                <div class="rounded-full transition duration-500 ease-in-out h-6 w-6 py-1 border-2 bg-primary-base border-primary-base"></div>
                <div class="absolute top-0 -ml-14 text-center mt-10 w-36 text-sm font-medium">
                  <strong class="block text-primary-base mb-xs">Tarjeta solicitada</strong>                  
                  <span class="text-neutral-base">14/01/2021 11:29</span>
                </div>
            </div>
            <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-primary-base"></div>
            <div class="flex items-center text-white relative">
                <div class="rounded-full transition duration-500 ease-in-out h-6 w-6 py-1 border-2 bg-primary-base border-primary-base"></div>
                <div class="absolute top-0 -ml-14 text-center mt-10 w-36 text-sm font-medium">
                  <strong class="block text-primary-base mb-xs">En preparación</strong>                  
                  <span class="text-neutral-base">14/01/2021 11:29</span>
                </div>
            </div>
            <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-primary-base"></div>
            <div class="flex items-center text-gray-500 relative">
                <div class="rounded-full transition duration-500 ease-in-out h-6 w-6 py-1 border-2 border-neutral-base"></div>
                <div class="absolute top-0 -ml-14 text-center mt-10 w-36 text-sm font-semibold">
                  <span class="block text-black mb-xs">Tarjeta enviada a unidad de personal</span>                                    
                </div>
            </div>
            <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-neutral-base border-dashed"></div>
            <div class="flex items-center text-gray-500 relative">
                <div class="rounded-full transition duration-500 ease-in-out h-6 w-6 py-1 border-2 border-neutral-base"></div>
                <div class="absolute top-0 -ml-14 text-center mt-10 w-36 text-sm font-medium">
                  <span class="block text-black mb-xs">Tarjeta recibida por unidad de personal</span>        
                </div>
            </div>
        </div>
    </div>



  
{% endblock %}