{% extends "pages/_template.card-admin.njk" %} 
{% from "components/button/_macro.button.njk" import componentButton %} 
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %} 
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %} 
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %} 

{% block contentBlock %}

<h1 class="c-h1 w-full mb-xl">
  Portal público
</h1>

{{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs mb-xl text-sm",
    "items": [
      {
        "href": "#",
        "text": "Inferfaz de usuario"
      },
      {
        "href": "#",
        "text": "Logs",
        "active": true    
      },
      {
        "href": "#",
        "text": "MFE"        
      },
      {
        "href": "#",
        "text": "WebServices"        
      },
      {
        "href": "#",
        "text": "clientName"        
      },
      {
        "href": "#",
        "text": "NodeAddress"        
      }
    ],
    "attributes": {
      "aria-label": "Menu de portal público"
    }
  })  }}

<div class="lg:flex lg:flex-wrap lg:items-center w-full mb-lg">
    <h2 class="c-h2 flex-1 mb-0">Logs</h2>    
    <div class="flex lg:items-center mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base">        
        {{ componentButton({
        "text": "Guardar propiedades",
        "classes": "c-button--primary"
        })  }}
    </div>
</div>
 

<h3 class="c-h3 w-full mb-lg">Propiedades</h3>  

<div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-24">
    <div>      
      {{ componentInput({
        "label": {
          "text": "Ruta del log Admin *"
        },
        "classes":"w-full",
        "id": "ruta1",
        "name": "ruta1"
      })  }}
    </div>
    <div>
      {{ componentInput({
        "label": {
          "text": "Ruta del log Admin para trazas spring-hibernate-axis *"
        },
        "classes":"w-full",
        "id": "ruta2",
        "name": "ruta2"
      })  }}
    </div>
    <div>
      {{ componentInput({
        "label": {
          "text": "Nivel de la traza Admin *"
        },
        "classes":"w-full",
        "id": "ruta3",
        "name": "ruta3"
      })  }}
    </div>
  </div>

{% endblock %}
