{% set title = "Detalle de oficinas de registro - Registradores. CARD. Gobierno de Aragón" %}
{% extends "pages/_template.card-SDA-CAU.njk" %} 

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em" class="text-gray-500 mr-sm fill-current"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg> Volver a registradores y registradores',
                "href": "#",
                "classes": "c-button--sm c-button--transparent"
              })  }}
            </div>  
            <div class="lg:flex lg:flex-wrap w-full">
              <div class="flex-1">
                <h3 class="c-h2 mt-xs lg:mb-xl"><span class="font-normal">ORG0001 - </span> Dirección General de Administración Electrónica y Sociedad de la Información</h3>
              </div>
              <section class="mt-base mb-lg lg:mt-0 lg:mb-5 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
                <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
                <ul class="flex flex-column-reverse lg:flex-row-reverse flex-wrap gap-base">
                  <li>
                    {{ componentButton({
                      "text": "Editar oficina",
                      "href": "/"
                    }) }}
                  </li>
                </ul>      
              </section>
            </div>            
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs mb-lg lg:mb-0 text-sm lg:text-base",
              "items": [
                {
                  "href": "#",
                  "html": 'Información de la oficina'
                },
                {
                  "href": "#",
                  "html": 'Registradores/as (3)',
                  "active": true
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-base"></div>
  <h1 id="page-title" class="c-h2 mb-lg">Registradores/as</h1>

   <!--acciones-->
  <ul data-module="c-menubar" id="registradores-filter-items-menubar" class="lg:flex lg:flex-wrap" role="menubar" aria-label="Filtrar items de la lista de registradores">
    <li class="relative" role="none">
      <a href="#" role="menuitem" aria-haspopup="true" aria-expanded="false" class="c-menubar__button c-menubar__button--sm mb-sm mr-sm" id="registradores-filter-estado" tabindex="0">
        <span class="inline-flex self-center max-w-xs align-middle truncate">Estado</span>
        <svg class="inline-block -mr-2  align-middle -my-px" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"></path></g></svg>
      </a>
      <ul role="menu" class="c-menubar__tooltip w-max max-w-64 hidden border border-neutral-base shadow-md bg-white text-sm" aria-label="Estado" tabindex="-1" style="display: none; z-index: 0;">
        <li role="menuitemcheckbox" aria-checked="false" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="sub-registradores-filter-estado-1" data-option="sub-registradores-filter-estado-1" tabindex="-1">
          Activo
        </li>
        <li role="menuitemcheckbox" aria-checked="false" class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white" id="sub-registradores-filter-estado-2" data-option="sub-registradores-filter-estado-2" tabindex="-1">
          Inactivo
        </li>
      </ul>
    </li>
    <li class="relative ml-auto" role="none">
      <a role="menuitem" id="registradores-filter-editar" href="#" class="c-menubar__button c-menubar__button--sm mb-sm mr-sm" tabindex="-1">
        Editar registrador
      </a>
    </li>
    <li class="relative" role="none">
      <a role="menuitem" id="registradores-filter-anadir" href="#" class="c-menubar__button c-menubar__button--sm mb-sm c-menubar__button--primary" tabindex="-1">
        Añadir registrador
      </a>
    </li>
  </ul>

  <section aria-labelledby="lista-registradores">
    <h2 id="lista-registradores" class="sr-only">Listado de registradores</h2>
    <!--registrador-->
    <div class="mb-base border border-neutral-base rounded">
      <div class="p-base">
        <h3 class="flex items-center text-lg -my-sm leading-none">
          {{ componentCheckboxes({
            "idPrefix": "check-reg1",
            "name": "check-reg1",
            "classes": "mx-0",
            "formGroup": {
              "classes": "mb-0"
            },      
            "items": [
              {
                "value": "reg01"
              }
            ]
          })  }}
          <span class="ml-2">12345678Z - <strong>Marta Martín Martínez</strong></span>
        </h3>  
        <p class="ml-12">AC Sector Público: Empleado público, Empleado público con pseudónimo, Sede electrónica, Sello electrónico</p>  
        <p class="ml-12">AC Componentes: Certificado SSL, Sello de identidad</p>        
      </div>
      <hr class="border-neutral-base">
      <div class="px-base pt-base">
        {{ componentDescriptionList({
          "classes": "flex flex-wrap ml-12",
          "items": [
            {
              "term": {
                "html": 'Fecha de alta'
              },
              "definition": {
                "html": '01/01/2023'
              },
              "classes": "w-full lg:w-1/6 mb-base lg:pr-base"
            },
            {
              "term": {
                "html": 'CSV del documento de alta'
              },
              "definition": {
                "html": '<a href="#" class="c-link">CSVK45WT8V57T110CPPC</a>'
              },
              "classes": "w-full lg:w-2/6 mb-base lg:pr-base"
            },
            {
              "term": {
                "html": 'Observaciones'
              },
              "definition": {
                "html": '<span class="italic">No se han incluido observaciones</span>'
              },
              "classes": "w-full mb-base lg:pr-base"
            }
          ]
        })  }}
      </div>
    </div>
    <!--registrador-->
    <div class="mb-base border border-neutral-base rounded">
      <div class="p-base">
        <h3 class="flex items-center text-lg -my-sm leading-none">
          {{ componentCheckboxes({
            "idPrefix": "check-reg2",
            "name": "check-reg2",
            "classes": "mx-0",
            "formGroup": {
              "classes": "mb-0"
            },      
            "items": [
              {
                "value": "reg02"
              }
            ]
          })  }}
          <span class="ml-2">12345678Z - <strong>Gabriel García Garcés</strong></span>
        </h3>  
        <p class="ml-12">AC Componentes: Certificado SSL</p>        
      </div>
      <hr class="border-neutral-base">
      <div class="px-base pt-base">
        {{ componentDescriptionList({
          "classes": "flex flex-wrap ml-12",
          "items": [
            {
              "term": {
                "html": 'Fecha de alta'
              },
              "definition": {
                "html": '01/01/2023'
              },
              "classes": "w-full lg:w-1/6 mb-base lg:pr-base"
            },
            {
              "term": {
                "html": 'CSV del documento de alta'
              },
              "definition": {
                "html": '<a href="#" class="c-link">CSVK45WT8V57T110CPPC</a>'
              },
              "classes": "w-full lg:w-2/6 mb-base lg:pr-base"
            },
            {
              "term": {
                "html": 'Fecha de baja'
              },
              "definition": {
                "html": '01/01/2023'
              },
              "classes": "w-full lg:w-1/6 mb-base lg:pr-base"
            },
            {
              "term": {
                "html": 'CSV del documento de baja'
              },
              "definition": {
                "html": '<a href="#" class="c-link">CSVK45WT8V57T110CPPC</a>'
              },
              "classes": "w-full lg:w-2/6 mb-base lg:pr-base"
            },
            {
              "term": {
                "html": 'Observaciones'
              },
              "definition": {
                "html": '<span class="italic">No se han incluido observaciones</span>'
              },
              "classes": "w-full mb-base lg:pr-base"
            }
          ]
        })  }}
      </div>
    </div>
    <!--registrador-->
    <div class="mb-base border border-neutral-base rounded">
      <div class="p-base">
        <h3 class="flex items-center text-lg -my-sm leading-none">
          {{ componentCheckboxes({
            "idPrefix": "check-reg3",
            "name": "check-reg3",
            "classes": "mx-0",
            "formGroup": {
              "classes": "mb-0"
            },      
            "items": [
              {
                "value": "reg03"
              }
            ]
          })  }}
          <span class="ml-2">12345678Z - <strong>Álvaro Álvarez Alvariño</strong></span>
        </h3>  
        <p class="ml-12">AC FNMT Usuarios: Persona física</p>        
      </div>
      <hr class="border-neutral-base">
      <div class="px-base pt-base">
        {{ componentDescriptionList({
          "classes": "flex flex-wrap ml-12",
          "items": [
            {
              "term": {
                "html": 'Fecha de alta'
              },
              "definition": {
                "html": '01/01/2023'
              },
              "classes": "w-full lg:w-1/6 mb-base lg:pr-base"
            },
            {
              "term": {
                "html": 'CSV del documento de alta'
              },
              "definition": {
                "html": '<a href="#" class="c-link">CSVK45WT8V57T110CPPC</a>'
              },
              "classes": "w-full lg:w-2/6 mb-base lg:pr-base"
            },
            {
              "term": {
                "html": 'Observaciones'
              },
              "definition": {
                "html": '<span class="italic">No se han incluido observaciones</span>'
              },
              "classes": "w-full mb-base lg:pr-base"
            }
          ]
        })  }}
      </div>
    </div>
  </section>

{% endblock %}