{% set title = "Listado de oficinas de registro. CARD. Gobierno de Aragón" %}
{% extends "pages/_template.card-SDA-CAU.njk" %} 

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/pill/_macro.pill.njk" import componentPill %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}


{% block contentBlock %}

  <div class="lg:flex lg:flex-wrap w-full">
    <div class="flex-1">
      <h1 id="page-title" class="c-h2">Oficinas y registradores/as</h1>
    </div>
    <section class="mt-base mb-lg lg:mt-0 lg:mb-5 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
      <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
      <ul class="flex flex-column-reverse lg:flex-row-reverse flex-wrap gap-base">
        <li>
          {{ componentButton({
            "text": "Añadir oficina de registro",
            "classes": "c-button--primary",
            "href": "/"
          }) }}
        </li>
        <li>
          {{ componentButton({
            "text": "Exportar lista",
            "href": "/"
          }) }}
        </li>
      </ul>      
    </section>
  </div>

  <!--buscador-->
  <div class="mb-base lg:w-3/5 mb-xl">
    {{ componentSearchbar({
      "id": "searchbar",
      "label": {
        "text": "Buscar en esta página"
      },
      "placeholder": "Buscar oficina por nombre o por código...",
      "button": {
        "text": "Buscar",
        "type": "submit"
      },
      "classes": "flex-1"
    }) }}
  </div>

  <!--filtros-->
  {{ componentMenubar({
    "id": "oficinas-filter-items",
    "idPrefix": "oficinas-filter",
    "ariaLabel": "Filtrar items de la lista de oficinas",
    "classes":"mb-sm",
    "items": [
      {
        "text": "Estado",
        "ariaLabel": "Estado",
        "id": "oficinas-filter-estado",
        "classes": "c-menubar__button--sm mb-sm mr-sm",
        "sub": {
          "items": [
            {
              "role": "menuitemcheckbox",
              "text": "Activa"
            },
            {
              "role": "menuitemcheckbox",
              "text": "Inactiva"
            }
          ]
        }
      },   
      {
        "text": "Oficina delegada",
        "ariaLabel": "Oficina delegada",
        "id": "oficinas-filter-oficina-delegada",
        "classes": "c-menubar__button--sm mb-sm mr-sm",
        "sub": {
          "items": [
            {
              "role": "menuitemcheckbox",
              "text": "Sí"
            },
            {
              "role": "menuitemcheckbox",
              "text": "No"
            }
          ]
        }
      },     
      {
        "html": "Municipio",
        "ariaLabel": "Municipio",
        "id": "oficinas-filter-municipio",
        "classes": "c-menubar__button--sm mb-sm mr-sm",
        "sub": {
          "items": [
            {
              "role": "group",
              "ariaLabel": "Lista de municipios",
              "items": [
                {
                  "role": "menuitemradio",
                  "text": "Ababuj"
                },
                {
                  "role": "menuitemradio",
                  "text": "Abanto"
                },
                {
                  "role": "menuitemradio",
                  "text": "Abejuela"
                },
                {
                  "role": "menuitemradio",
                  "text": "Abiego"
                },
                {
                  "role": "menuitemradio",
                  "text": "Abizanda"
                },
                {
                  "role": "menuitemradio",
                  "text": "..."
                }
              ]
            }
          ]
        }
      },
      {
        "html": "Eliminar filtros",
        "ariaLabel": "Eliminar filtros",
        "id": "oficinas-filter-eliminar",
        "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm",
        "href": "#"
      },
      {
        "html": "Orden: Código de organismo SIU ascendente",
        "ariaLabel": "Orden: Código de organismo SIU ascendente",
        "id": "oficinas-filter-ordenacion",
        "classes": "c-menubar__button--sm mb-sm",
        "sub": {
          "items": [
            {
              "role": "group",
              "ariaLabel": "Tipos de ordenación",
              "items": [
                {
                  "role": "menuitemradio",
                  "text": "Código de organismo SIU ascendente",
                  "checked": true
                },
                {
                  "role": "menuitemradio",
                  "text": "Código de organismo SIU descendente"
                },
                {
                  "role": "menuitemradio",
                  "html": "Denominación de la oficina A - Z"
                },
                {
                  "role": "menuitemradio",
                  "html": "Denominación de la oficina Z - A"
                }
              ]
            }
          ],
          "attributes": {
            "aria-labelledby": "oficinas-filter-ordenacion"
          }
        }
      }
    ],
    "classes": "c-menubar--last-right"
  })  }}

  <section aria-labelledby="oficinas-registro">
    <h2 id="oficinas-registro" class="sr-only">Listado de oficinas</h2>
    <!--oficina-->
    <div class="flex flex-wrap p-base mb-sm bg-white border border-neutral-base rounded">
      <div class="lg:flex flex-1 self-center">
        <div class="lg:flex-1 lg:self-center">
          <p class="text-lg pb-xs"><a href="#" class="c-link">ORG0001</a> - <span class="font-bold">Dirección General de Administración Electrónica y Sociedad de la Información</span></p>
          <p class="pb-sm">Plaza del Pilar, 3 - 50003 - Zaragoza, Zaragoza</p>
          {% call componentDetails({
            "summary": {
              "html": "3 registradores/as en esta oficina"
            },
            "classes": "text-sm"
          }) %}
          <ul class="ml-base"><li class="mb-xs">Marta Martín Martinez</li><li class="mb-xs">Gabriel Garcia Garcés</li><li class="mb-xs">Gonzalo Gozales González</li></ul>
          {% endcall  %}
        </div>
        <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 lg:ml-base">
          {{ componentPill({
            "text": "Oficina de registro delegado",
            "classes": "c-pill--primary"
          }) }}
        </div>
      </div>
    </div>
    <!--oficina-->
    <div class="flex flex-wrap p-base mb-sm bg-white border border-neutral-base rounded">
      <div class="lg:flex flex-1 self-center">
        <div class="lg:flex-1 lg:self-center">
          <p class="text-lg pb-xs"><a href="#" class="c-link">ORG0001</a> - <span class="font-bold">Oficina Delegada del Gobierno en Calatayud</span></p>
          <p class="pb-sm">C/Amparados, 2 - 50300 - Calatayud, Zaragoza</p>
          {% call componentDetails({
            "summary": {
              "html": "2 registradores/as en esta oficina"
            },
            "classes": "text-sm"
          }) %}
          <ul class="ml-base"><li class="mb-xs">Gabriel Garcia Garcés</li><li class="mb-xs">Gonzalo Gozales González</li></ul>
          {% endcall  %}
        </div>
        <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 lg:ml-base">
          
        </div>
      </div>
    </div>
    <!--oficina-->
    <div class="flex flex-wrap p-base mb-sm bg-white border border-neutral-base rounded">
      <div class="lg:flex flex-1 self-center">
        <div class="lg:flex-1 lg:self-center">
          <p class="text-lg pb-xs"><a href="#" class="c-link">ORG0003</a> - <span class="font-bold">Secretaría General Técnica de Ciudadanía y Derechos Sociales</span></p>
          <p class="pb-sm">Plaza del Pilar, 3 - 50003 - Zaragoza, Zaragoza</p>
          {% call componentDetails({
            "summary": {
              "html": "3 registradores/as en esta oficina"
            },
            "classes": "text-sm"
          }) %}
          <ul class="ml-base"><li class="mb-xs">Marta Martín Martinez</li><li class="mb-xs">Gabriel Garcia Garcés</li><li class="mb-xs">Gonzalo Gozales González</li></ul>
          {% endcall  %}
        </div>
        <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 lg:ml-base">
          
        </div>
      </div>
    </div>
  </section>

  <!--paginacion-->
  {{ componentPagination({
    "id": "default",
    "idPrefix": "pagination",
    "totalItems": "64",
    "itemsPerPage": "10",
    "items": [
      {
        "href": "#",
        "text": 1,
        "active": true
      },
      {
        "href": "#",
        "text": 2
      },
      {
        "href": "#",
        "text": 3
      }
    ],
    "attributes": {
      "aria-label": "Paginación"
    },
    "classes": "mt-base lg:mt-sm"
  }) }}
  
{% endblock %}