{% extends "pages/_template.card-default.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}




{% block contentBlock %}
  <div class="w-full mb-lg">
    <div class="flex items-center">
      {% from "components/button/_macro.button.njk" import componentButton %}
      {{ componentButton({
        "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em" class="text-gray-500 mr-sm fill-current"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg> Volver a solicitudes',
        "href": "#",
        "classes": "c-button--transparent"
      })  }}
    </div>   
  </div>

  <h1 class="c-h1 mb-lg"><span class="font-normal">12345678Z</span> - Marta Martín Martínez</h1>

  
  

<h2 class="c-h3 mb-lg">
  Información adicional de la solicitud
</h2>
{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full",
  "items": [
    {
      "term": {
        "text": "Motivo del rechazo *"
      },
      "definition": {
        "text": "Dirección de correo electrónico incorrecta"
      },
      "classes": "w-full lg:w-1/2 mb-2xl pr-lg"
    }
  ]
})  }}


<h2 class="c-h3 mb-lg">
  Datos del titular de la tarjeta
</h2>
  
{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full",
  "items": [
    {
      "term": {
        "text": "DNI *"
      },
      "definition": {
        "text": "12345678Z"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Nombre *"
      },
      "definition": {
        "text": "Marta"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Primer apellido *"
      },
      "definition": {
        "text": "Martín"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Segundo apellido *"
      },
      "definition": {
        "text": "Martínez"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    }
  ]
})  }}
{{ componentDescriptionList({
  "items": [
    {
      "term": {
        "text": "Correo electrónico *"
      },
      "definition": {
        "text": "mmartin@aragon.es"
      },
      "classes": "mb-lg pr-lg"
    }
  ]
})  }}
{{ componentDescriptionList({
  "items": [
    {
      "term": {
        "text": "Motivo de la solicitud *"
      },
      "definition": {
        "text": "Extravío"
      },
      "classes": "mb-lg pr-lg"
    }
  ]
})  }}

<p class="text-sm text-neutral-dark mb-sm">Declaración responsable o renuncia *</p>
{% call componentItem({
  "title": {
    "text": "declaración-tarjeta-mmartin.pdf"
  },
  "icon": {
    "type": "document"
  },
  "classes":"lg:w-2/3 mb-lg pr-lg"
})  %}
    <button class=" c-button c-button--sm c-button--transparent ">Vista previa</button>
{% endcall %}

{{ componentDescriptionList({
  "items": [
    {
      "term": {
        "text": "Cargo *"
      },
      "definition": {
        "html": "Inspector de <br> Lorem Ipsum"
      },
      "classes": "mb-lg pr-lg"
    }
  ]
})  }}

{{ componentDescriptionList({
  "items": [
    {
      "term": {
        "text": "Normativa *"
      },
      "definition": {
        "html": "Normativa <br> Lorem Ipsum"
      },
      "classes": "mb-lg pr-lg"
    }
  ]
})  }}

<p class="text-sm text-neutral-dark mb-sm">Fotografía *</p>
{% call componentItem({
  "title": {
    "text": "mmartin-fotografía.png"
  },
  "icon": {
    "type": "document"
  },
  "classes":"lg:w-2/3 mb-lg pr-lg"
})  %}
    <button class=" c-button c-button--sm c-button--transparent ">Vista previa</button>
{% endcall %}

<p class="text-sm text-neutral-dark mb-sm">Observaciones</p>
<p class="italic mb-16">No se han incluido observaciones.</p> 

<h2 class="c-h3 mb-lg">
  Datos de entrega de la tarjeta
</h2>

{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full",
  "items": [
    {
      "term": {
        "text": "Centro de trabajo *"
      },
      "definition": {
        "text": "Edificio Pignatelli"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Dirección *"
      },
      "definition": {
        "text": "Paseo María Agustín, 36, Puerta 33, Planta 3"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Código postal *"
      },
      "definition": {
        "text": "50004"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Localidad *"
      },
      "definition": {
        "text": "Zaragoza"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Provincia *"
      },
      "definition": {
        "text": "Zaragoza"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    }
  ]
})  }}



{% endblock %}