{% extends "pages/_template.card-no-header.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block contentBlock %}


{{ componentModal({
  "id": "buscar-dni",
  "title": {
    "text": "¿Seguro que quieres cancelar la solicitud?"
  },
  "description": {
    "html": 'Introduce el motivo por el que quieres cancelar la solicitud.
            <div class="c-form-group w-full">
              <textarea 
                class="w-full block mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base" 
                id="more-detail" 
                name="more-detail" 
                rows="5" 
                aria-describedby="more-detail-hint">La solicitante ha localizado su tarjeta que creía perdida</textarea>
            </div>'
  },
  "itemsPrimary": [
    {
      "text": "Continuar",
      "classes": "c-button--primary"
    }
  ],
  "itemsSecondary": [
    {
      "text": "Cancelar"
    }
  ],
  "isDismissible": true,
  "icon": {
    "html":'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="120" height="120" class="mr-base fill-current">
              <g fill="none" stroke="#FCA5A5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M4.363 70a65.625 65.625 0 10131.25 0 65.625 65.625 0 10-131.25 0zM43.738 96.25l52.494-52.5M96.238 96.25l-52.506-52.5" stroke-width="8.749995"/>
              </g>
            </svg>'    
  },
  "classes": "max-w-2xl shadow-md"
})  }}
  


  
  
  
{% endblock %}