{% extends "pages/_template.card-header-fixed.njk" %}

{% from "components/file-upload/_macro.file-upload.njk" import componentFileUpload %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}


{% set conditionalExtravio %}
  {{ componentFileUpload({
    "id": "tarjeta-archivo",
    "name": "tarjeta-archivo",
    "label": {
      "text": "Declaración responsable o denuncia *"
    },
    "hint": {
      "text": "Sube un archivo desde tu ordenador. Tamaño máximo: 2Mb. Formatos de archivo válido: PDF, JPG, PNG."
    },
    "formGroup": {
      "classes": "text-sm lg:text-base"
    }
  })  }}
  {% call componentItem({
    "title": {
      "text": "Resolución de años anteriores"
    },
    "content": {
      "html": "<a class=\" c-link break-all \" href=\" # \">Resolución años anteriores (PDF, 20Kb)</a> "
    },
    "icon": {
      "type": "document"
    }
  })  %}
      <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button> <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
  {% endcall %}
{% endset%}


{% set conditionalTitular %}
  
  {{ componentTextarea({
    "name": "tarjeta-cargo",
    "id": "tarjeta-cargo",
    "classes":"w-full",
    "label": {
      "text": "Cargo *"
    },
    "hint": {
      "text": "Escribe el cargo en dos líneas, tal y como quieres que aparezca en la tarjeta. Máximo 90 caracteres."
    },
    "placeholder": "Inspector de Lorem Ipsum"
  })  }}
  {{ componentTextarea({
    "name": "tarjeta-normativa",
    "id": "tarjeta-normativa",
    "classes":"w-full",
    "label": {
      "text": "Normativa *"
    },
    "hint": {
      "text": "Escribe la normativa en dos líneas, tal y como quieres que aparezca en la tarjeta. Máximo 170 caracteres."
    },
    "placeholder": "Normativa Lorem Ipsum"
  })  }}
  {{ componentFileUpload({
    "id": "tarjeta-foto",
    "name": "tarjeta-foto",
    "label": {
      "text": "Fotografía *"
    },
    "hint": {
      "text": "Sube un archivo desde tu ordenador. Tamaño máximo: 2Mb. Formatos de archivo válidos: JPG, PNG."
    }
  })  }}
  {% call componentItem({
    "title": {
      "text": "Fotografía.jpg"
    },
    "icon": {
      "type": "document"
    }
  })  %}
      <button class=" c-button c-button--sm c-button--transparent ">Eliminar</button> <button class=" c-button c-button--sm c-button--transparent ">Editar</button>
  {% endcall %}


{% endset%}

{% block contentBlock %}
  
  
  {{ componentNotification({
    "title": {
      "html": "La persona indicada tiene una tarjeta activa. <a class=\" c-link break-all \" href=\" # \">Accede a Tarjetas y certificados para ver la información de esta tarjeta</a>"
    },
    "icon": {
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"w-4 h-4\" aria-label=\"Atención\" focusable=\"false\"><path d=\"M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z\" fill=\"currentColor\"/></svg>"
    },
    "id": "with-custom-icon",
    "classes": "border-warning-base items-center mb-xl" ,
    "isDismissible": true
  })  }}

  <h2 class="c-h2 mb-sm">Datos del titular de la tarjeta</h2>
  <p class="mb-xl">Indica los datos del titular que aparecerán en la tarjeta</p>
  
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-12">
    <div>      
      {{ componentInput({
        "label": {
          "text": "DNI *"
        },
        "classes":"w-full",
        "id": "titular-dni",
        "name": "titular-dni",
        "value": "12345678Z",
        "disabled": true
      })  }}
    </div>
    <div>
      {{ componentInput({
        "label": {
          "text": "Nombre *"
        },
        "classes":"w-full",
        "id": "titular-nombre",
        "name": "titular-nombre",
        "value": "Marta",
        "disabled": true
      })  }}
    </div>
    <div>
      {{ componentInput({
        "label": {
          "text": "Primer apellido *"
        },
        "classes":"w-full",
        "id": "titular-apellido1",
        "name": "titular-apellido1",
        "value": "Martín",
        "disabled": true
      })  }}
    </div>
    <div>
      {{ componentInput({
        "label": {
          "text": "Segundo apellido *"
        },
        "classes":"w-full",
        "id": "titular-apellido2",
        "name": "titular-apellido2",
        "value": "Martínez",
        "disabled": true
      })  }}
    </div>
    <div>
      {{ componentInput({
        "label": {
          "text": "Correo electrónico *"
        },
        "classes":"w-full",
        "id": "titular-email",
        "name": "titular-email",
        "value": "mmartin@aragon.es"
      })  }}
    </div>
  </div>

  {{ componentRadios({
    "idPrefix": "solicitud-motivo",
    "name": "solicitud-motivo",
    "fieldset": {
      "legend": {
        "html": 'Motivo de la solicitud <span class="text-alert-base">*</span>'
      }
    },
    "items": [
      {
        "value": "nueva",
        "text": "Nueva"
      },
      {
        "value": "deterioro",
        "text": "Deterioro"
      },
      {
        "value": "extravio",
        "text": "Extravío",
        "hint": {
          "text": "En caso de extravío es necesario adjuntar la declaración responsable o denuncia *"
        },
        "conditional": {
          "html": conditionalExtravio
        },
        "checked": true
      },
      {
        "value": "robo",
        "text": "Robo",
        "hint": {
          "text": "En caso de extravío es necesario adjuntar la declaración responsable o denuncia *"
        },
        "conditional": {
          "html": conditionalExtravio
        }
      }
    ]
  })  }}

  
  {{ componentRadios({
    "idPrefix": "solicitud-cargo",
    "name": "solicitud-cargo",
    "fieldset": {
      "legend": {
        "text": "¿El titular es un alto cargo, auxilio judicial, inspecto o asimilado? *"
      }
    },
    "items": [
      {
        "value": "si",
        "text": "Sí",
        "hint": {
          "text": "Completa la información relativa al cargo del titular *"
        },        
        "conditional": {
          "html": conditionalTitular
        },
        "checked": true
      },
      {
        "value": "no",
        "text": "No"
      }
    ]
  })  }}

  <h2 class="c-h2 mb-sm">Datos del entrega de la tarjeta</h2>
  <p class="mb-xl">Indica la dirección completa de entrega de la tarjeta</p>
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-12">
    <div>
      {{ componentInput({
        "label": {
          "text": "Centro de trabajo *"
        },
        "id": "entrega-centro",
        "name": "entrega-centro",
        "classes":"w-full",
        "value":"Edificio Pignatelli"
      })  }}
    </div>
    <div>
      {{ componentInput({
        "label": {
          "text": "Dirección *"
        },
        "id": "entrega-direccion",
        "name": "entrega-direccion",
        "classes":"w-full",
        "value":"paseo Mª Agustín, 36, Puerta 33, Planta 3"
      })  }}
    </div>
    <div>
      {{ componentInput({
        "label": {
          "text": "Código Postal *"
        },
        "id": "entrega-cp",
        "name": "entrega-cp",
        "classes":"w-full",
        "value":"50004"
      })  }}
    </div>
    <div>
      
      {{ componentSelect({
        "id": "select-1",
        "name": "select-1",
        "classes":"w-full",
        "label": {
          "text": "Localidad *"
        },
        "items": [
          {
            "value": "zaragoza",
            "text": "Zaragoza",
            "selected": true
          },
          {
            "value": "cadrete",
            "text": "Cadrete"
          },
          {
            "value": "Ejea de los Caballeros",
            "text": "Ejea de los Caballeros"
          }
        ]
      })  }}
    </div>
    <div>
      {% from "components/select/_macro.select.njk" import componentSelect %}
      {{ componentSelect({
        "id": "select-1",
        "name": "select-1",
        "classes":"w-full",
        "label": {
          "text": "Provincia *"
        },
        "items": [
          {
            "value": "zaragoza",
            "text": "Zaragoza",
            "selected": true
          },
          {
            "value": "huesca",
            "text": "Huesca"
          },
          {
            "value": "teruel",
            "text": "Teruel"
          }
        ]
      })  }}
    </div>
  </div>


{% endblock %}