{% extends "pages/_template.card-tarjetas.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk" import componentItemListSolicitudes %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/select/_macro.select.njk" import componentSelect %}

{% block contentBlock %}

<div class="w-full mb-lg">
    <div class="flex items-center">
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em" class="text-gray-500 mr-sm fill-current"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg> Volver a Tarjetas y certificados',
          "href": "#",
          "classes": "c-button--transparent"
        })  }}   
    </div>   
</div>
  
<h1 class="c-h1 w-full mb-xl"><span class="font-normal">12345678Z - </span> Marta Martín Martínez</h1>  


{{ componentMenuHorizontal({
  "classes": "c-menu-horizontal--tabs mb-lg",
  "items": [
    {
      "href": "#",
      "text": "Última tarjeta"
    },
    {
      "href": "#",
      "text": "Solicitud de tarjeta en curso"
    },
    {
      "href": "#",
      "text": "Último Certificado",
      "active": true
    },
    {
      "href": "#",
      "text": "Solicitud de certificado en curso"
    }
  ],
  "attributes": {
    "aria-label": "Menu de tarjetas"
  }
})  }}

{{ componentNotification({
    "title": {
      "html": "Este certificado caduca próximamente. Puede solicitar uno nuevo desde <a class=\" c-link break-all \" href=\" # \">Solicitudes de certificado en curso.</a>"
    },
    "icon": {
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"w-4 h-4\" aria-label=\"Atención\" focusable=\"false\"><path d=\"M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z\" fill=\"currentColor\"/></svg>"
    },
    "id": "with-custom-icon",
    "classes": "border-warning-base items-center mb-xl",
    "isDismissible": true
})  }}

{{ componentNotification({
  "title": {
    "text": "El estado del certificado se ha verificado correctamente"
  },
  "type": "success",
  "id": "type-success",
  "isDismissible": true,
  "classes": "border-success-base items-center mb-xl"

})  }}

{{ componentNotification({
  "title": {
    "text": "El estado del certificado ha sido actualizado a: Revocado"
  },
  "type": "success",
  "id": "type-success",
  "isDismissible": true,
  "classes": "border-success-base items-center mb-xl"

})  }}

<div class="lg:flex lg:flex-wrap lg:items-center w-full mb-lg">
    <h2 class="c-h2 flex-1 mb-0">Certificado</h2>    
    <div class="lg:flex lg:items-center mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base">        
        {{ componentButton({
          "text": "Verificar estado en FNMT",
          "classes": "mr-base mb-base"
        })  }}

        {% call componentDropdown({
          "text": "Cambiar estado",
          "classes": "c-dropdown--primary mb-base"
        })  %}
            {{ componentNav({
              "items": [
                {
                  "href": "#",
                  "html": 'Suspender <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 ml-base">
                    <path d="M122.5 140h-105A17.52 17.52 0 010 122.5v-105A17.52 17.52 0 0117.5 0h40a7.5 7.5 0 010 15h-40a2.5 2.5 0 00-2.5 2.5v105a2.5 2.5 0 002.5 2.5h105a2.5 2.5 0 002.5-2.5v-40a7.5 7.5 0 0115 0v40a17.52 17.52 0 01-17.5 17.5z"/>
                    <path d="M132.5 0h-35a7.5 7.5 0 000 15h16.89L64.7 64.7a7.5 7.5 0 0010.6 10.6L125 25.61V42.5a7.5 7.5 0 0015 0v-35a7.5 7.5 0 00-7.5-7.5z"/>
                  </svg>'
                },
                {
                  "href": "#",
                  "html": 'Revocar <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 ml-base">
                    <path d="M122.5 140h-105A17.52 17.52 0 010 122.5v-105A17.52 17.52 0 0117.5 0h40a7.5 7.5 0 010 15h-40a2.5 2.5 0 00-2.5 2.5v105a2.5 2.5 0 002.5 2.5h105a2.5 2.5 0 002.5-2.5v-40a7.5 7.5 0 0115 0v40a17.52 17.52 0 01-17.5 17.5z"/>
                    <path d="M132.5 0h-35a7.5 7.5 0 000 15h16.89L64.7 64.7a7.5 7.5 0 0010.6 10.6L125 25.61V42.5a7.5 7.5 0 0015 0v-35a7.5 7.5 0 00-7.5-7.5z"/>
                  </svg>'
                }
              ]
            })  }}
        {% endcall %}
    </div>
</div>

<h3 class="c-h3 mb-lg">Información del certificado</h3>
{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full mb-base",
  "items": [
    {
      "term": {
        "text": "Número de serie"
      },
      "definition": {
        "text": "10249as102499s012s889aa129"
      },
      "classes": "w-full mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Certificado válido desde"
      },
      "definition": {
        "text": "20/04/2019"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Certificado válido hasta"
      },
      "definition": {
        "text": "20/04/2021"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Último estado"
      },
      "definition": {
        "text": "Activo"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Fecha del último estado"
      },
      "definition": {
        "text": "20/04/20219"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    } 
  ]
})  }}
{% endblock %}