{% extends "pages/_template.card-no-header.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block contentBlock %}


{{ componentModal({
  "id": "buscar-dni",
  "title": {
    "text": "Tipología de tarjeta"
  },
  "description": {
    "html": 'Selecciona la tipología de tarjeta.
            <!-- select -->
            <div class="c-form-group">
                <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full" id="select-5" name="select-5">
                  <option selected disabled>Selecciona la tipología</option>
                  <option value="1">Administración General básica</option>
                  <option value="2">Administración General con cargo</option>
                  <option value="3">Otra tipología</option>
              </select>
            </div>
            <!-- /select -->'
  },
  "itemsPrimary": [
    {
      "text": "Cancelar"
    }
  ],
  "itemsSecondary": [
    {
      "text": "Continuar",
      "classes": "c-button--primary"
    }
  ],
  "isDismissible": true,
  "icon": {
    "html":'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="120" height="120" class="mr-base fill-current">
              <g fill="#dcf8e2" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
<path d="M107.8 37.62a7.286 7.286 0 00-10.19 1.545l-34.557 46.9-21.975-17.582a7.297 7.297 0 00-9.117 11.393l27.9 22.318a7.367 7.367 0 0010.425-1.37l39.083-53.008a7.292 7.292 0 00-1.569-10.197z"/>
  <path d="M70 0a70 70 0 1070 70A70.076 70.076 0 0070 0zm0 128.333A58.333 58.333 0 11128.333 70 58.397 58.397 0 0170 128.333z"/>              </g>
            </svg>'    
  },
  "classes": "max-w-2xl shadow-md"
})  }}
  


  
  
  
{% endblock %}
