{% extends "pages/_template.card-home.njk" %} 
{% from "components/button/_macro.button.njk" import componentButton %} 
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %} 
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk" import componentItemListSolicitudes %} 
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %} 
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %} 
{% from "components/pagination/_macro.pagination.njk" import componentPagination %} 
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %} 

{% block contentBlock %}

<h1 class="c-h1 w-full mb-lg">
  Estas son las novedades desde tu último acceso:
</h1>

<div class="grid grid-col-12 md:grid-cols-3 md:gap-8 mb-lg">
  <div class="mb-lg">
    <div class="flex flex-wrap p-sm border border-neutral-base rounded">
      <div class="lg:flex flex-1 self-center">
        <div class="lg:flex-1 lg:self-center">
          <h2
            class="c-h3 border-b pb-sm mb-sm border-gray-400 text-neutral-dark"
          >
            Tarjetas en camino
          </h2>
          <div class="flex flex-wrap items-start">
            <span class="font-bold text-3xl mr-sm -mt-xs">22</span>
            <div class="flex-1">
              <span class="text-neutral-dark"
                >tarjetas solicitadas en camino</span
              >
              <br />
              <a href="#" class="c-link c-paragraph-sm font-semibold"
                >Ver solicitudes para confirmar recepción</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-lg">
    <div class="flex flex-wrap p-sm border border-neutral-base rounded">
      <div class="lg:flex flex-1 self-center">
        <div class="lg:flex-1 lg:self-center">
          <h2
            class="c-h3 border-b pb-sm mb-sm border-gray-400 text-neutral-dark"
          >
            Tarjetas recibidas
          </h2>
          <div class="flex flex-wrap items-start">
            <span class="font-bold text-3xl mr-sm -mt-xs">10</span>
            <div class="flex-1">
              <span class="text-neutral-dark"
                >tarjetas solicitadas en camino</span
              >
              <br />
              <a href="#" class="c-link c-paragraph-sm font-semibold"
                >Ver solicitudes para confirmar recepción</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-lg">
    <div class="flex flex-wrap p-sm border border-neutral-base rounded">
      <div class="lg:flex flex-1 self-center">
        <div class="lg:flex-1 lg:self-center">
          <h2
            class="c-h3 border-b pb-sm mb-sm border-gray-400 text-neutral-dark"
          >
            Tarjetas para destruir
          </h2>
          <div class="flex flex-wrap items-start">
            <span class="font-bold text-3xl mr-sm -mt-xs">15</span>
            <div class="flex-1">
              <span class="text-neutral-dark"
                >tarjetas solicitadas en camino</span
              >
              <br />
              <a href="#" class="c-link c-paragraph-sm font-semibold"
                >Ver solicitudes para confirmar recepción</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
