{% extends "pages/_template.card-no-header.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block contentBlock %}


{{ componentModal({
  "id": "buscar-dni",
  "title": {
    "text": "¿Seguro que quieres rechazar la solicitud?"
  },
  "description": {
    "html": 'Selecciona el motivo por el que quieres rechazar esta solicitud.
            <!-- select -->
            <div class="c-form-group">
                <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full" id="select-5" name="select-5">
                  <option selected disabled>Selecciona el motivo del rechazo</option>
                  <option value="1">Fotografía no válida</option>
                  <option value="2">Dirección de entrega incompleta</option>
                  <option value="3">Otro motivo</option>
              </select>
            </div>
            <!-- /select -->'
  },
  "itemsPrimary": [
    {
      "text": "Cancelar"
    }
  ],
  "itemsSecondary": [
    {
      "text": "Rechazar solicitud",
      "classes": "c-button--alert"
    }
  ],
  "isDismissible": true,
  "icon": {
    "html":'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="120" height="120" class="mr-base fill-current">
              <g fill="none" stroke="#FCA5A5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M4.363 70a65.625 65.625 0 10131.25 0 65.625 65.625 0 10-131.25 0zM43.738 96.25l52.494-52.5M96.238 96.25l-52.506-52.5" stroke-width="8.749995"/>
              </g>
            </svg>'    
  },
  "classes": "max-w-2xl shadow-md"
})  }}
  


  
  
  
{% endblock %}