{% extends "pages/_template.card-SDA-CAU.njk" %} 
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk" import componentItemListSolicitudes %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}

{% block contentBlock %}


  
  

  <div class="lg:flex lg:flex-wrap w-full mb-lg">
    <h1 class="c-h1 flex-1">Tarjetas de empleado</h1>    
    
  </div>

  
  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs mb-xl text-sm",
    "items": [
      {
        "href": "#",
        "text": "Solicitudes pendientes (15)"
      },
      {
        "href": "#",
        "text": "Impresión (20)"
        
      },
      {
        "href": "#",
        "text": "Codificación (17)"
        
      },
      {
        "href": "#",
        "text": "Envío a unidad de personal (12)"
        
      },
      {
        "href": "#",
        "text": "Histórico de solicitudes (120)",
        "active": true
        
      }
    ],
    "attributes": {
      "aria-label": "Menu de solicitudes"
    }
  })  }}

  <div class="max-w-xl mb-xl">
    {{ componentSearchbar({
      "id": "buscador-solicitud",      
      "label": {
        "text": "Buscar"
      },
      "placeholder": "Buscar solicitud por DNI"
    })  }}
  </div>

  <div class="lg:flex mb-3">
    <div class="filtros lg:flex-1 mt-sm">
      <form>
        {% call componentDetails({
          "summary": {
            "html": "Filtros"
            },
          "classes": "lg:m-0",
          "containerClasses": "p-base bg-neutral-lighter"
        })  %}
          <div class="filtros-edicion lg:flex">
            <div class="flex-1">
              
              {{ componentCheckboxes({
                "idPrefix": "default",
                "name": "default",
                "classes": "c-checkboxes--sm",
                "fieldset": {
                  "legend": {
                    "text": "Estado"
                  }
                },
                "items": [
                  {
                    "value": "Solicitada",
                    "text": "Solicitada",                    
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "rechazada",
                    "text": "Rechazada",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "en-preparacion",
                    "text": "En preparación",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "enviada",
                    "text": "Enviada a unidad de personal",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  }
                ]
              })  }}
            </div>
            <div class="datepicker flex-1">
              {{ componentDateInput({
                "id": "fechadesde",
                "namePrefix": "fechadesde",
                "formGroup":{
                  "classes":"text-sm"
                },
                "fieldset": {
                  "legend": {
                    "text": "Fecha desde",
                    "classes": "text-base font-bold"
                  }
                },
                "items": [
                  {
                    "name": "día",
                    "classes": "w-14 c-input--sm",
                    "attributes": {
                      "maxlength": "2"
                    }
                  },
                  {
                    "name": "mes",
                    "classes": "w-14 c-input--sm",
                    "attributes": {
                      "maxlength": "2"
                    }
                  },
                  {
                    "name": "año",
                    "classes": "w-20 c-input--sm",
                    "attributes": {
                      "maxlength": "4"
                    }
                  }
                ]
              })  }}

              {{ componentDateInput({
                "id": "fechahasta",
                "namePrefix": "fechahasta",
                "formGroup":{
                  "classes":"text-sm"
                },
                "fieldset": {
                  "legend": {
                    "text": "Fecha hasta",
                    "classes": "text-base font-bold"
                  }
                },
                "items": [
                  {
                    "name": "día",
                    "classes": "w-14 c-input--sm",
                    "attributes": {
                      "maxlength": "2"
                    }
                  },
                  {
                    "name": "mes",
                    "classes": "w-14 c-input--sm",
                    "attributes": {
                      "maxlength": "2"
                    }
                  },
                  {
                    "name": "año",
                    "classes": "w-20 c-input--sm",
                    "attributes": {
                      "maxlength": "4"
                    }
                  }
                ]
              })  }}            
            </div>
            
            <div class="flex-1">
              {{ componentCheckboxes({
                "idPrefix": "default",
                "name": "default",
                "classes": "c-checkboxes--sm",
                "fieldset": {
                  "legend": {
                    "text": "Motivo"
                  }
                },
                "items": [
                  {
                    "value": "nueva",
                    "text": "Nueva",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "deterioro",
                    "text": "Deterioro",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "extravio",
                    "text": "Extravío",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "robo",
                    "text": "Robo",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  }
                ]
              })  }}
            </div>
            
          </div>
          <div class="text-center">
            {{ componentButton({
              "text": "Borrar filtros",
              "classes": "c-button--sm"
            })  }}
            {{ componentButton({
              "text": "Aplicar filtros",
              "classes": "c-button--primary c-button--sm"
            })  }}
          </div>
          
      {% endcall %}


      </form>
    </div>
    <div id="ordenacion" class="lg:ml-base lg:flex">
      <form action="#" class="ordenacion-listado">
        
        {{ componentSelect({
          "id": "select-ordenacion",
          "name": "select-ordenacion",
          "classes": "c-select--sm w-full",
          "formGroup":{
            "classes": "lg:inline-block mb-base lg:mb-0"
          },
          "items": [
            {
              "value": 1,
              "text": "Fecha: más recientes primero",
              "selected": true
            },
            {
              "value": 2,
              "text": "Fecha: más antiguas primero"
            },
            {
              "value": 3,
              "text": "Nombre: A - Z"
            }
            ,
            {
              "value": 3,
              "text": "Nombre: Z - A"
            }
          ]
        })  }}        
        {{ componentButton({
          "text": "Ordenar",
          "classes": "c-button--primary c-button--sm lg:inline-block w-full lg:w-auto"
        })  }}
      </form>
    </div>
  </div>
  
</div>

<div class=" mb-base border border-neutral-base rounded">
  <div class="p-lg">
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <h3 class="lg:flex sm:flex-1 mb-sm text-xl cursor-pointer group focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="0" onclick="javascript:void(0)">
        <a href="" class="focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="-1">
          <span class="c-link">12345678Z</span>
          <span class="inline-block mx-2">-</span>
          <span class="font-bold group-hover:underline group-hover:text-primary-base">Marta Martín Martínez</span>
        </a>        
      </h3>
      <p class="inline-flex flex-wrap lg:order-3 lg:w-full items-start lg:items-center">
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-success-base"></span>
          <span class="flex-1 lg:flex-initial">Recibida en unidad de personal</span>
        <span class="w-full lg:w-auto ml-base pl-sm lg:pl-base lg:border-l lg:border-neutral-base">Solicitada el 25 de enero a las 10:30</span>
      </p>
    </div>
  </div>
  <hr class="border-neutral-base">
  <div class="px-lg py-base">
    <!-- description-list -->
    <dl class="lg:flex lg:flex-wrap w-full">
      <div class="lg:w-2/6 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Organismo solicitante
        </dt>
        <dd class="text-base text-black">
          ORG17498 - Servicio de Transformación Digital
        </dd>
      </div>
      <div class="lg:w-1/6 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Motivo
        </dt>
        <dd class="text-base text-black">
          Extravío
        </dd>
      </div>
      <div class="lg:w-3/6 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Dirección de entrega
        </dt>
        <dd class="text-base text-black">
          Edificio Pignatelli - Paseo María Agustín, 36, Puerta 33, Planta 3
        </dd>
      </div>
    </dl>
    <!-- /description-list -->
  </div>
</div>


<div class=" mb-base border border-neutral-base rounded">
  <div class="p-lg">
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <h3 class="lg:flex sm:flex-1 mb-sm text-xl cursor-pointer group focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="0" onclick="javascript:void(0)">
        <a href="" class="focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="-1">
          <span class="c-link">12345678Z</span>
          <span class="inline-block mx-2">-</span>
          <span class="font-bold group-hover:underline group-hover:text-primary-base">Marta Martín Martínez</span>
        </a>        
      </h3>
      <p class="inline-flex flex-wrap lg:order-3 lg:w-full items-start lg:items-center">
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-success-dark"></span>
          <span class="flex-1 lg:flex-initial">Entregada al titular</span>
        <span class="w-full lg:w-auto ml-base pl-sm lg:pl-base lg:border-l lg:border-neutral-base">Solicitada el 25 de enero a las 10:30</span>
      </p>
    </div>
  </div>
  <hr class="border-neutral-base">
  <div class="px-lg py-base">
    <!-- description-list -->
    <dl class="lg:flex lg:flex-wrap w-full">
      <div class="lg:w-2/6 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Organismo solicitante
        </dt>
        <dd class="text-base text-black">
          ORG17498 - Servicio de Transformación Digital
        </dd>
      </div>
      <div class="lg:w-1/6 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Motivo
        </dt>
        <dd class="text-base text-black">
          Extravío
        </dd>
      </div>
      <div class="lg:w-3/6 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Dirección de entrega
        </dt>
        <dd class="text-base text-black">
          Edificio Pignatelli - Paseo María Agustín, 36, Puerta 33, Planta 3
        </dd>
      </div>
    </dl>
    <!-- /description-list -->
  </div>
</div>


<div class=" mb-base border border-neutral-base rounded">
  <div class="p-lg">
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <h3 class="lg:flex sm:flex-1 mb-sm text-xl cursor-pointer group focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="0" onclick="javascript:void(0)">
        <a href="" class="focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="-1">
          <span class="c-link">12345678Z</span>
          <span class="inline-block mx-2">-</span>
          <span class="font-bold group-hover:underline group-hover:text-primary-base">Marta Martín Martínez</span>
        </a>        
      </h3>
      <p class="inline-flex flex-wrap lg:order-3 lg:w-full items-start lg:items-center">
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-alert-dark"></span>
          <span class="flex-1 lg:flex-initial">Rechazada</span>
        <span class="w-full lg:w-auto ml-base pl-sm lg:pl-base lg:border-l lg:border-neutral-base">Solicitada el 25 de enero a las 10:30</span>
      </p>
    </div>
  </div>
  <hr class="border-neutral-base">
  <div class="px-lg py-base">
    <!-- description-list -->
    <dl class="lg:flex lg:flex-wrap w-full">
      <div class="lg:w-2/6 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Organismo solicitante
        </dt>
        <dd class="text-base text-black">
          ORG17498 - Servicio de Transformación Digital
        </dd>
      </div>
      <div class="lg:w-1/6 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Motivo
        </dt>
        <dd class="text-base text-black">
          Extravío
        </dd>
      </div>
      <div class="lg:w-3/6 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Dirección de entrega
        </dt>
        <dd class="text-base text-black">
          Edificio Pignatelli - Paseo María Agustín, 36, Puerta 33, Planta 3
        </dd>
      </div>
    </dl>
    <!-- /description-list -->
  </div>
</div>



{{ componentPagination({ 
  "idPrefix": "pagination", 
  "totalItems": "64",
  "itemsPerPage": "10", 
  "items": [ 
    { 
      "href": "#", 
      "text": 1 
    }, 
    { 
      "href": "#",
      "text": 2, 
      "active": true 
    }, 
    { 
      "href": "#", 
      "text": 3 
    }, 
    { 
      "href": "#", 
      "text": 4 
    }, 
    { 
      "href": "#", 
      "text": 5 
    }, 
    { 
      "href": "#", 
      "text": 6 
    } 
    ] 
  }) 
}} 
  
  
{% endblock %}