{% extends "pages/_template.card-no-header.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block contentBlock %}


{{ componentModal({
  "id": "buscar-dni",
  "title": {
    "text": "¿Seguro que quieres reiniciar la impresión?"
  },
  "description": {
    "html": '<p class="text-center mb-sm">Esta acción devolverá a la tarjeta al estado "Pendiente de impresión", desde el que tendrás quevolver a empezar el proceso.</p>
            <p class="text-center mb-lg">Por favor, indica el motivo por el que quieres reiniciar la impresión.</p>

            <!-- radios -->
              <div class="c-form-group">
              <!-- fieldset -->
              <fieldset aria-describedby="has-dividers-hint"> 
                <div x-data="{ isChecked: false }" class="c-radios">
                      <div class=" border-t border-b border-neutral-base -mb-px font-normal">
                        <div>
                          <div class="relative flex items-start py-base">
                            <div class="flex items-center mx-sm">
                              <input x-model="isChecked" class="w-6 h-6 text-primary-base transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-base disabled:border-neutral-base text-primary-base" id="has-dividers" name="has-dividers" type="radio" value="1">
                            </div>
                            <div class="pt-0.5 leading-5">
                              <!-- label -->
                                <label class="block" for="has-dividers">Error de impresión</label>
                              <!-- /label -->                              
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class=" border-t border-b border-neutral-base -mb-px">          
                        <div>
                          <div class="relative flex items-start py-base">
                            <div class="flex items-center mx-sm">
                              <input x-model="isChecked" class="w-6 h-6 text-primary-base transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-base disabled:border-neutral-base text-primary-base" id="has-dividers-2" name="has-dividers" type="radio" value="2">
                            </div>
                            <div class="pt-0.5 leading-5">
                              <!-- label -->
                                <label class="block" for="has-dividers-2">Error de codificación</label>
                              <!-- /label -->                             
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class=" border-t border-b border-neutral-base -mb-px">          
                        <div>
                          <div class="relative flex items-start py-base">
                            <div class="flex items-center mx-sm">
                              <input x-model="isChecked" class="w-6 h-6 text-primary-base transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-base disabled:border-neutral-base text-primary-base" id="has-dividers-3" name="has-dividers" type="radio" value="3">
                            </div>
                            <div class="pt-0.5 leading-5">
                              <!-- label -->
                                <label class="block" for="has-dividers-2">Otro</label>
                              <!-- /label -->                             
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </fieldset>
              <!-- /fieldset -->
              </div>
            <!-- /radios -->
            
            '
  },
  "itemsPrimary": [
    {
      "text": "Cancelar"
    }
  ],
  "itemsSecondary": [
    {
      "text": "Reiniciar impresión",
      "classes": "c-button--primary"
    }
  ],
  "isDismissible": true,
  "icon": {
    "html":'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="120" height="120" class="mr-base fill-current">
              <g fill="#5e616b" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M70 20H50V7.5a7.5 7.5 0 00-12.8-5.3l-20 20a7.49 7.49 0 000 10.6l20 20A7.5 7.5 0 0050 47.5V35h20a45 45 0 11-45 45 7.5 7.5 0 00-15 0 60 60 0 1060-60z"/>
              </g>
            </svg>'    
  },
  "classes": "max-w-2xl shadow-md"
})  }}
  


  
  
  
{% endblock %}