{% set title = "Nueva oficina de registro. CARD. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed.njk" %}

{# Dependencias #}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}


{# Cabecera #}
{% block headerTitleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" viewBox="0 0 24 24" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="self-start mr-base text-neutral-dark"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.25 6.75h13.5v16.5H5.25zM11.25.75h4a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-4 0v-3h0ZM3.75 6.75h1.5M20.25 6.75h-1.5M11.25 3.75v3M.75 12.75h4.5M18.75 12.75h4.5M.75 17.25h22.5M5.25 23.25h-3v-10.5h3M18.75 23.25h3v-10.5h-3M.75 23.25h1.5M21.75 23.25h1.5M9.75 9.75v.75M9.75 13.5v.75M14.25 9.75v.75M14.25 13.5v.75M9.75 19.5v.75M14.25 19.5v.75"/></svg>
{% endblock %}
{% block headerTitleEditBlock %}
  <h1 class="text-lg uppercase font-bold leading-tight">
    Añadir Oficina de registro
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Añadir oficina",
          "href": "#",
          "classes": "c-button--primary",
          "disabled": true
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Cancelar",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  {{ componentNotification({
    "title": {
      "html": 'Recuerda que es necesario <a class="c-link" href="#">dar de alta la oficina de registro en la FNMT</a> antes de añadirla a CARD'
    },
    "icon": {
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5" aria-label="Atención" focusable="false"><path d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"/></svg>'
    },
    "id": "with-custom-icon",
    "classes": "border-warning-base items-center mb-xl" ,
    "isDismissible": true
  })  }}

  <fieldset class="mb-base">
    <legend class="c-h3 mb-xs">Información identificativa</legend>
    <p class="c-paragraph-base">Indica los datos principales para identificar la oficina.</p>
    <div class="grid md:grid-cols-2 gap-x-12">
      <div>
        {{ componentInput({
          "label": {
            "text": "Código de organismo SIU *"
          },
          "classes":"w-full",
          "id": "cod-siu",
          "name": "cod-siu"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Denominación de la oficina *"
          },
          "classes":"w-full",
          "id": "nombre-oficina",
          "name": "nombre-oficina"
        })  }}
      </div>
    </div>
  </fieldset>

  <fieldset class="mb-base">
    <legend class="c-h3 mb-xs">Información de contacto</legend>
    <p class="c-paragraph-base">Indica los datos de contacto de la oficina.</p>
    <div class="grid md:grid-cols-2 gap-x-12">
      <div>
        {{ componentInput({
          "label": {
            "text": "Teléfono *"
          },
          "classes":"w-full",
          "id": "telf-oficina",
          "name": "telf-oficina"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Correo electrónico *"
          },
          "classes":"w-full",
          "id": "email-oficina",
          "name": "email-oficina",
          "inputmode": "email"
        })  }}
      </div>
    </div>
  </fieldset>

  <fieldset class="mb-base">
    <legend class="c-h3 mb-xs">Responsable de la oficina</legend>
    <p class="c-paragraph-base">Indica la información de la persona responsable de la oficina.</p>
    <div class="grid md:grid-cols-2 gap-x-12">
      <div>
        {{ componentInput({
          "label": {
            "text": "Nombre *"
          },
          "classes":"w-full",
          "id": "nombre-responsable",
          "name": "nombre-responsable"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Primer apellido *"
          },
          "classes":"w-full",
          "id": "apellido1-responsable",
          "name": "apellido1-responsable"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Segundo apellido *"
          },
          "classes":"w-full",
          "id": "apellido2-responsable",
          "name": "apellido2-responsable"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Cargo *"
          },
          "classes":"w-full",
          "id": "cargo-responsable",
          "name": "cargo-responsable"
        })  }}
      </div>
    </div>
  </fieldset>

  <fieldset class="mb-base">
    <legend class="c-h3 mb-xs">Dirección postal</legend>
    <p class="c-paragraph-base">Indica la dirección postal de la oficina de registro.</p>
    <div class="grid md:grid-cols-2 gap-x-12">
      <div>
        {{ componentInput({
          "label": {
            "text": "Dirección *"
          },
          "classes":"w-full",
          "id": "direccion-oficina",
          "name": "direccion-oficina"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Código postal *"
          },
          "classes":"w-full",
          "id": "cpostal-oficina",
          "name": "cpostal-oficina"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Municipio *"
          },
          "classes":"w-full",
          "id": "municipio-oficina",
          "name": "municipio-oficina"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Provincia *"
          },
          "classes":"w-full",
          "id": "provincia-oficina",
          "name": "provincia-oficina"
        })  }}
      </div>
    </div>
  </fieldset>

  <fieldset class="mb-base">
    <legend class="c-h3 mb-xs">Información adicional</legend>
    <p class="c-paragraph-base">Indica los siguientes datos adicionales.</p>
    <div class="grid md:grid-cols-2 gap-x-12">
      <div>
        {{ componentInput({
          "label": {
            "text": "Dirección IP *"
          },
          "classes":"w-full",
          "id": "dir-ip-oficina",
          "name": "dir-ip-oficina"
        })  }}
      </div>
      <div>
        {{ componentRadios({
          "idPrefix": "oficina-delegada",
          "classes": "flex",
          "name": "oficina-delegada",
          "fieldset": {
            "legend": {
              "text": "¿Es una oficina de registro delegado? *"
            }
          },
          "items": [
            {
              "value": "no",
              "text": "No",
              "classes": "mr-sm"
            },
            {
              "value": "si",
              "text": "Sí",
              "classes": "mr-sm"
            }
          ]
        }) }}
      </div>
      <div>
        {{ componentDateInput({
          "id": "fecha-alta",
          "namePrefix": "fecha-alta",
          "fieldset": {
            "legend": {
              "text": "Fecha de alta *"
            }
          },
          "items": [
            {
              "name": "día",
              "classes": "w-14",
              "attributes": {
                "maxlength": "2"
              }
            },
            {
              "name": "mes",
              "classes": "w-14",
              "attributes": {
                "maxlength": "2"
              }
            },
            {
              "name": "año",
              "classes": "w-20",
              "attributes": {
                "maxlength": "4"
              }
            }
          ]
        }) }}
      </div>
      <div class="self-end mb-8">
        {{ componentSearchbar({
          "id": "csv-doc-alta",
          "label": {
            "text": "CSV del documento de alta *",
            "classes": "not-sr-only mb-sm"
          }
        }) }}
      </div>
      <div class="md:col-span-2">
        {{ componentTextarea({
          "id": "observaciones",
          "name": "observaciones",
          "label": {
            "text": "Observaciones"
          },
          "classes": "w-full"
        }) }}
      </div>
    </div>
  </fieldset>
{% endblock %}