{% extends "pages/_template.card-destruccion-tarjetas.njk" %} 
{% from "components/button/_macro.button.njk" import componentButton %} 
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %} 
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %} 
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %} 
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk" import componentItemListSolicitudes %} 
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %} 
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %} 
{% from "components/notification/_macro.notification.njk" import componentNotification %} 
{% from "components/pagination/_macro.pagination.njk" import componentPagination %} 
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %} 
{% from "components/select/_macro.select.njk" import componentSelect %} 

{% block contentBlock %}

<div class="lg:flex lg:flex-wrap w-full mb-lg">
  <h1 class="c-h1 flex-1">Destrucción de Tarjetas</h1>
  <div
    class="flex lg:items-start mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base"
  >
    {{ componentButton({ "text": "Descargar lista y solicitar destrucción",
    "disabled": true, "classes": "c-button--primary" }) }}
  </div>
</div>

<div class="max-w-xl mb-xl">
  {{ componentSearchbar({ "id": "buscador-solicitud", "label": { "text":
  "Buscar" }, "placeholder": "Buscar solicitud por DNI" }) }}
</div>

<div class="lg:flex mb-base">
  <div class="filtros lg:flex-1 mt-sm">
    <form>
      {% call componentDetails({
          "summary": {
            "html": "Filtros"
            },
          "classes": "lg:m-0",
          "containerClasses": "p-base bg-neutral-lighter"
        })  %}
          <div class="filtros-edicion lg:flex">
            <div class="flex-1">
              
              {{ componentCheckboxes({
                "idPrefix": "default",
                "name": "default",
                "classes": "c-checkboxes--sm",
                "fieldset": {
                  "legend": {
                    "text": "Estado"
                  }
                },
                "items": [
                  {
                    "value": "Solicitada",
                    "text": "Solicitada",                    
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "rechazada",
                    "text": "Rechazada",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "en-preparacion",
                    "text": "En preparación",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "enviada",
                    "text": "Enviada a unidad de personal",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  }
                ]
              })  }}
            </div>
            <div class="datepicker flex-1">
              {{ componentDateInput({
                "id": "fechadesde",
                "namePrefix": "fechadesde",
                "formGroup":{
                  "classes":"text-sm"
                },
                "fieldset": {
                  "legend": {
                    "text": "Fecha desde",
                    "classes": "text-base font-bold"
                  }
                },
                "items": [
                  {
                    "name": "día",
                    "classes": "w-14 c-input--sm",
                    "attributes": {
                      "maxlength": "2"
                    }
                  },
                  {
                    "name": "mes",
                    "classes": "w-14 c-input--sm",
                    "attributes": {
                      "maxlength": "2"
                    }
                  },
                  {
                    "name": "año",
                    "classes": "w-20 c-input--sm",
                    "attributes": {
                      "maxlength": "4"
                    }
                  }
                ]
              })  }}

              {{ componentDateInput({
                "id": "fechahasta",
                "namePrefix": "fechahasta",
                "formGroup":{
                  "classes":"text-sm"
                },
                "fieldset": {
                  "legend": {
                    "text": "Fecha hasta",
                    "classes": "text-base font-bold"
                  }
                },
                "items": [
                  {
                    "name": "día",
                    "classes": "w-14 c-input--sm",
                    "attributes": {
                      "maxlength": "2"
                    }
                  },
                  {
                    "name": "mes",
                    "classes": "w-14 c-input--sm",
                    "attributes": {
                      "maxlength": "2"
                    }
                  },
                  {
                    "name": "año",
                    "classes": "w-20 c-input--sm",
                    "attributes": {
                      "maxlength": "4"
                    }
                  }
                ]
              })  }}            
            </div>
            
            <div class="flex-1">
              {{ componentCheckboxes({
                "idPrefix": "default",
                "name": "default",
                "classes": "c-checkboxes--sm",
                "fieldset": {
                  "legend": {
                    "text": "Motivo"
                  }
                },
                "items": [
                  {
                    "value": "nueva",
                    "text": "Nueva",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "deterioro",
                    "text": "Deterioro",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "extravio",
                    "text": "Extravío",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  },
                  {
                    "value": "robo",
                    "text": "Robo",
                    "classes": "-mt-base",
                    "label": {
                      "classes": "text-sm -mt-1"
                    }
                  }
                ]
              })  }}
            </div>
            
          </div>
          <div class="text-center">
            {{ componentButton({
              "text": "Borrar filtros",
              "classes": "c-button--sm"
            })  }}
            {{ componentButton({
              "text": "Aplicar filtros",
              "classes": "c-button--primary c-button--sm"
            })  }}
          </div>
          
      {% endcall %}
    </form>
  </div>
  <div id="ordenacion" class="lg:ml-base lg:flex">
    <form action="#" class="ordenacion-listado">
      {{ componentSelect({ 
        "id": "select-ordenacion", 
        "name": "select-ordenacion", 
        "classes": "c-select--sm w-full", 
        "formGroup":{
          "classes": "lg:inline-block mb-base lg:mb-0" 
          }, 
        "items": [ 
          { 
            "value": 1,
            "text": "Fecha: más recientes primero", 
            "selected": true 
          }, 
          { 
            "value": 2,
            "text": "Fecha: más antiguas primero" 
          }, 
          { 
            "value": 3, 
            "text": "Nombre: A - Z" 
          }, 
          { 
            "value": 3, 
            "text": "Nombre: Z - A" 
          } 
        ] 
        }) 
      }} 
      {{ 
        componentButton({ 
          "text": "Ordenar", 
          "classes": "c-button--primary c-button--sm lg:inline-block w-full lg:w-auto" 
        }) 
      }}
    </form>
  </div>
</div>

{{ componentCheckboxes({ 
  "idPrefix": "seleccionar-todo", 
  "name": "seleccionar-todo", 
  "formGroup": { 
    "classes":"mb-sm mx-base" 
    }, 
  "items": [ 
    {
      "value": "all", 
      "text": "Seleccionar todo" 
      } 
    ] 
  }) 
}}

<ul aria-label="Listado de...">
  <li>
    {% set userDni = "12345678Z" %} 
    {% set userName = "María Martín Martínez" %}
    {% set motivoBaja = "Jubilación" %} 
    {% set fechaBaja = "25/03/2021" %} {%
    include "includes/_card-list-item.njk" %}
  </li>
  <li>
    {% set userDni = "12345678Z" %} 
    {% set userName = "María Martín Martínez" %}
    {% set motivoBaja = "Deterioro" %} 
    {% set fechaBaja = "25/03/2021" %} {%
    include "includes/_card-list-item.njk" %}
  </li>
  <li>
    {% set userDni = "12345678Z" %} 
    {% set userName = "María Martín Martínez" %}
    {% set motivoBaja = "Excedencia" %} 
    {% set fechaBaja = "25/03/2021" %} {%
    include "includes/_card-list-item.njk" %}
  </li>
  <li>
    {% set userDni = "12345678Z" %} 
    {% set userName = "María Martín Martínez" %}
    {% set motivoBaja = "Otros motivos" %} 
    {% set fechaBaja = "25/03/2021" %} {%
    include "includes/_card-list-item.njk" %}
  </li>
</ul>

{{ componentPagination({ 
  "idPrefix": "pagination", 
  "totalItems": "64",
  "itemsPerPage": "10", 
  "items": [ 
    { 
      "href": "#", 
      "text": 1 
    }, 
    { 
      "href": "#",
      "text": 2, 
      "active": true 
    }, 
    { 
      "href": "#", 
      "text": 3 
    }, 
    { 
      "href": "#", 
      "text": 4 
    }, 
    { 
      "href": "#", 
      "text": 5 
    }, 
    { 
      "href": "#", 
      "text": 6 
    } 
    ] 
  }) 
}} 
{% endblock %}
