{% extends "pages/_template.card-SDA-CAU.njk" %} 

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk" import componentItemListSolicitudes %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/select/_macro.select.njk" import componentSelect %}

{% block contentBlock %}

<div class="w-full mb-lg">
    <div class="flex items-center">
        {% from "components/button/_macro.button.njk" import componentButton %}
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em" class="text-gray-500 mr-sm fill-current"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg> Volver a solicitudes',
          "href": "#",
          "classes": "c-button--transparent"
        })  }}           
    </div>   
</div>
  
<h1 class="c-h1 w-full mb-xl"><span class="font-normal">12345678Z - </span> Marta Martín Martínez</h1>  


{{ componentMenuHorizontal({
  "classes": "c-menu-horizontal--tabs mb-lg",
  "items": [
    {
      "href": "#",
      "text": "Solicitud de tarjeta en curso",
      "active": true
    },
    {
      "href": "#",
      "text": "Última tarjeta"
    }
  ],
  "attributes": {
    "aria-label": "Menu de tarjetas"
  }
})  }}

<div class="lg:flex lg:flex-wrap lg:items-center w-full mb-lg">
    <h2 class="c-h2 flex-1 mb-0">Solicitud de tarjeta en curso</h2>    
    <div class="flex lg:items-center mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base">        
      {{ componentButton({
        "text": "Rechazar",
        "classes": "mr-base"
      })  }}
      {{ componentButton({
        "text": "Aceptar",
        "classes": "c-button--primary"
      })  }}
    </div>
</div>
<h3 class="c-h3 mb-lg">Información adicional de la solicitud</h3>
{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full mb-base",
  "items": [
    {
      "term": {
        "text": "Solicitante"
      },
      "definition": {
        "text": "Álvaro Álvarez Álvarez"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Organismo solicitante"
      },
      "definition": {
        "text": "ORG17498 - Servicio de Transformación Digital"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Fecha de solicitud"
      },
      "definition": {
        "text": "11 de febrero a las 10:30"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    }
  ]
})  }}
<h3 class="c-h3 mb-lg">Datos del titular de la tarjeta</h3>
{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full mb-base",
  "items": [
    {
      "term": {
        "text": "DNI *"
      },
      "definition": {
        "text": "12345678Z"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Nombre *"
      },
      "definition": {
        "text": "Marta"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Primer apellido *"
      },
      "definition": {
        "text": "Martín"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Segundo apellido *"
      },
      "definition": {
        "text": "Martínez"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Correo electrónico *"
      },
      "definition": {
        "text": "mmartin@aragon.es"
      },
      "classes": "w-full mb-lg pr-lg"
    }
    ,
    {
      "term": {
        "text": "Motivo de la solicitud *"
      },
      "definition": {
        "text": "Extravío"
      },
      "classes": "w-full mb-base pr-lg"
    }
  ]
})  }}
<p class="text-sm text-neutral-dark mb-sm">Declaración responsable o renuncia *</p>
{% call componentItem({
  "title": {
    "text": "declaración-tarjeta-mmartin.pdf"
  },
  "icon": {
    "type": "document"
  },
  "classes":"lg:w-2/3 mb-lg pr-lg"
})  %}
    <button class=" c-button c-button--sm c-button--transparent ">Vista previa</button>
{% endcall %}
{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full mb-base",
  "items": [
    {
      "term": {
        "text": "Cargo *"
      },
      "definition": {
        "html": "Inspector de <br/> Lorem ipsum"
      },
      "classes": "w-full mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Normativa *"
      },
      "definition": {
        "html": "Normativa <br/>Lorem ipsum"
      },
      "classes": "w-full mb-base pr-lg"
    }
  ]
})  }}

<p class="text-sm text-neutral-dark mb-sm">Fotografía *</p>
{% call componentItem({
  "title": {
    "text": "mmartin-fotografía.png"
  },
  "icon": {
    "type": "document"
  },
  "classes":"lg:w-2/3 mb-lg pr-lg"
})  %}
    <button class=" c-button c-button--sm c-button--transparent ">Vista previa</button>
{% endcall %}
  
<p class="text-sm text-neutral-dark mb-sm">Observaciones</p>
<p class="italic mb-16">No se han incluido observaciones.</p> 

<h2 class="c-h3 mb-lg">
  Datos de entrega de la tarjeta
</h2>

{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full",
  "items": [
    {
      "term": {
        "text": "Centro de trabajo *"
      },
      "definition": {
        "text": "Edificio Pignatelli"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Dirección *"
      },
      "definition": {
        "text": "Paseo María Agustín, 36, Puerta 33, Planta 3"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Código postal *"
      },
      "definition": {
        "text": "50004"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Localidad *"
      },
      "definition": {
        "text": "Zaragoza"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Provincia *"
      },
      "definition": {
        "text": "Zaragoza"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Correo electrónico de la unidad de personal *"
      },
      "definition": {
        "text": "unidadpersonalpginatelli@aragon.es"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    }
  ]
})  }}


  
  
{% endblock %}