{% set title = "Detalle de oficinas de registro - Información. CARD. Gobierno de Aragón" %}
{% extends "pages/_template.card-SDA-CAU.njk" %} 

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}


{% block subheaderBlock %}
  <div class="border-b border-neutral-dark bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="w-full">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <div class="my-base">
              {{ componentButton({
                "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em" class="text-gray-500 mr-sm fill-current"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg> Volver a Oficinas y registradores',
                "href": "#",
                "classes": "c-button--sm c-button--transparent"
              })  }}
            </div>  
            <div class="lg:flex lg:flex-wrap w-full">
              <div class="flex-1">
                <h3 class="c-h2 mt-xs lg:mb-xl"><span class="font-normal">ORG0001 - </span> Dirección General de Administración Electrónica y Sociedad de la Información</h3>
              </div>
              <section class="mt-base mb-lg lg:mt-0 lg:mb-5 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
                <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
                <ul class="flex flex-column-reverse lg:flex-row-reverse flex-wrap gap-base">
                  <li>
                    {{ componentButton({
                      "text": "Editar oficina",
                      "href": "/"
                    }) }}
                  </li>
                </ul>      
              </section>
            </div>            
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>  
        <div class="w-full">
          <!-- subheaderMenu -->
          {% block subheaderMenu %}
            <h4 id="cabecera-menu" class="sr-only">Submenú de página</h4>
            {{ componentMenuHorizontal({
              "classes": "c-menu-horizontal--tabs mb-lg lg:mb-0 text-sm lg:text-base",
              "items": [
                {
                  "href": "#",
                  "html": 'Información de la oficina',
                  "active": true
                },
                {
                  "href": "#",
                  "html": 'Registradores/as (3)'
                }
              ],
              "attributes": {
                "aria-label": "Menu horizontal"
              }
            })  }}
          {% endblock %}
          <!-- /subheaderMenu -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <div class="pb-base"></div>
  <h1 id="page-title" class="c-h2 mb-lg">Información de la oficina</h1>

  <h2 class="c-h3">Información de contacto</h2>
  {{ componentDescriptionList({
    "classes": "flex flex-wrap w-full mb-base",
    "items": [
      {
        "term": {
          "html": 'Teléfono',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": '976 000 111',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      },
      {
        "term": {
          "html": 'Correo electrónico',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": 'oficinaregistromagustin@aragon.es',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      }
    ]
  })  }}

  <h2 class="c-h3">Responsable de la oficina</h2>
  {{ componentDescriptionList({
    "classes": "flex flex-wrap w-full mb-base",
    "items": [
      {
        "term": {
          "html": 'Nombre y Apellidos',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": 'Marina Marín Martín',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      },
      {
        "term": {
          "html": 'Cargo',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": 'Directora provincial de Zaragoza',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      }
    ]
  })  }}

  <h2 class="c-h3">Dirección postal</h2>
  {{ componentDescriptionList({
    "classes": "flex flex-wrap w-full mb-base",
    "items": [
      {
        "term": {
          "html": 'Dirección',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": 'Plaza del Pilar, 3',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      },
      {
        "term": {
          "html": 'Código postal',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": '50003',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      },
      {
        "term": {
          "html": 'Municipio',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": 'Zaragoza',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      },
      {
        "term": {
          "html": 'Provoncia',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": 'Zaragoza',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      }
    ]
  })  }}

  <h2 class="c-h3">Información adicional</h2>
  {{ componentDescriptionList({
    "classes": "flex flex-wrap w-full mb-base",
    "items": [
      {
        "term": {
          "html": 'Dirección IP',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": '168.212.226.204',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      },
      {
        "term": {
          "html": 'Oficina de registro delegado',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": 'Sí',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      },
      {
        "term": {
          "html": 'Fecha de alta',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": '01/01/2023',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      },
      {
        "term": {
          "html": 'CSV del documento de alta',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": '<a href="#" class="c-link">CSVK45WT8V57T110CPPC</a>',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      },
      {
        "term": {
          "html": 'Observaciones',
          "classes": "text-base text-black font-semibold"
        },
        "definition": {
          "html": '<span class="italic">No se han incluido observaciones</span>',
          "classes": "text-neutral-dark"
        },
        "classes": "w-full lg:w-1/2 mb-base lg:pr-base"
      }
    ]
  })  }}


{% endblock %}