{% extends "pages/_template.card-tarjetas.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk" import componentItemListSolicitudes %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}

{% block contentBlock %}

  
  

  
  <h1 class="c-h1 w-full mb-lg">Tarjetas y certificados</h1>  
  <p class="mb-base">Introduce el DNI del titular para consultar su información sobre tarjetas y certificados</p>
  <div class="max-w-xl mb-xl">
    
    {{ componentSearchbar({
      "id": "buscador-solicitud",      
      "label": {
        "text": "Buscar"
      },
      "placeholder": "Buscar solicitud por DNI"
    })  }}
  </div>


  <div class=" mb-base border border-neutral-base rounded">
    <div class="p-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <h3 class="lg:flex sm:flex-1 mb-sm text-xl cursor-pointer group focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="0" onclick="javascript:void(0)">
          <a href="" class="c-link" tabindex="-1">12345678Z</a>
          <span class="inline-block mx-2">-</span>
          <span class="font-bold group-hover:underline group-hover:text-primary-base">Marta Martín Martínez</span>
        </h3>        
      </div>
    </div>
    <hr class="border-neutral-base">
    <div class="px-lg py-base">
      <dl class="lg:flex lg:flex-wrap w-full">
        <div class="lg:w-1/3 pr-base mb-xs">
          <dt class="text-sm text-neutral-dark">
            Estado de última tarjeta
          </dt>
          <dd class="text-base text-black">
            Activa
          </dd>
        </div>
        <div class="lg:w-1/3 pr-base mb-xs">
          <dt class="text-sm text-neutral-dark">
            Solicitud de tarjeta en curso
          </dt>
          <dd class="text-base text-black">
            No hya solicitud de tarjeta en curso
          </dd>
        </div>
        <div class="lg:w-1/3 pr-base mb-xs">
          <dt class="text-sm text-neutral-dark">
            certificado válido hasta:
          </dt>
          <dd class="text-base text-black">
            25/04/2022
          </dd>
        </div>
      </dl>
    </div>
  </div>
  
  


  
  
{% endblock %}