{% extends "pages/_template.card-default.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk" import componentItemListSolicitudes %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}

{% block contentBlock %}

  

  

  <div class="lg:flex lg:flex-wrap w-full mb-lg">
    <h1 class="c-h1 flex-1">Solicitudes</h1>    
    <div class="flex lg:items-start mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base">
      {{ componentButton({
      "text": "Solicitar tarjeta",
      "classes": "c-button--primary"
      })  }}
    </div>
  </div>

  
  {{ componentMenuHorizontal({
    "classes": "c-menu-horizontal--tabs mb-xl text-sm",
    "items": [
      {
        "href": "p-privado_solicitante_Solicitudes-En-curso.html",
        "text": "En curso"
      },
      {
        "href": "#",
        "text": "Histórico",
        "active": true
        
      }
    ],
    "attributes": {
      "aria-label": "Menu de solicitudes"
    }
  })  }}

  <div class="max-w-xl mb-xl">
    {{ componentSearchbar({
      "id": "buscador-solicitud",      
      "label": {
        "text": "Buscar"
      },
      "placeholder": "Buscar solicitud por DNI"
    })  }}
  </div>

  <div class="lg:flex">
    {% call componentDropdown({
      "text": "Fecha",
      "classes": "c-dropdown--sm mb-sm mr-sm"
    })  %}
        <div class="p-base pl-lg w-lg">
          Selector de fecha desde...hasta
        </div>
    {% endcall %}
    <div class="lg:flex-1">
      {{ componentMenubar({
        "id": "solicitud-filter-items",
        "idPrefix": "solicitud-filter",
        "classes":"mb-sm",
        "items": [
          {
            "text": "Estado",
            "ariaLabel": "Estado",
            "id": "solicitud-filter-estado",
            "classes": "c-menubar__button--sm mb-sm mr-sm",
            "sub": {
              "items": [
                {
                  "role": "menuitemcheckbox",
                  "text": "Solicitada"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Rechazada"
                }
                ,
                {
                  "role": "menuitemcheckbox",
                  "text": "En preparación"
                }
                ,
                {
                  "role": "menuitemcheckbox",
                  "text": "Enviada a unidad de personal"
                }
              ],
              "attributes": {
                "aria-labelledby": "solicitud-filter-estado"
              }
            }
          },
          {
            "text": "Motivo",
            "ariaLabel": "Motivo",
            "id": "solicitud-filter-motivo",
            "classes": "c-menubar__button--sm mb-sm mr-sm",
            "sub": {
              "items": [
                {
                  "role": "menuitemcheckbox",
                  "text": "Nueva"
                },
                {
                  "role": "menuitemcheckbox",
                  "text": "Deterioro"
                }
                ,
                {
                  "role": "menuitemcheckbox",
                  "text": "Extravío"
                }
                ,
                {
                  "role": "menuitemcheckbox",
                  "text": "Robo"
                }
              ],
              "attributes": {
                "aria-labelledby": "solicitud-filter-motivo"
              }
            }
          },
          {
            "text": "Eliminar filtros",
            "ariaLabel": "Eliminar filtros",
            "id": "solicitud-filter-eliminar",
            "classes": "c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm lg:mr-xl",
            "href": "#"
          },
          {
            "text": "Fecha: más recientes primero",
            "ariaLabel": "Fecha: más recientes primero",
            "id": "solicitud-filter-ordenacion",
            "sub": {
              "items": [
                {
                  "role": "group",
                  "text": "Group",
                  "items": [
                    {
                      "role": "menuitemradio",
                      "text": "Fecha: más recientes primero",
                      "checked": true
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Fecha: más antiguas primero"
                    },
                    {
                      "role": "menuitemradio",
                      "text": "Nombre: A - Z"
                    },
                    {
                      "role": "menuitemradio",
                      "html": "Nombre: A - Z"
                    }
                  ]
                }
              ],
              "attributes": {
                "aria-labelledby": "solicitud-filter-ordenacion"
              }
            },
            "classes": "c-menubar__button--sm mb-sm"
          }
        ],
        "classes": "c-menubar--last-right",
        "attributes": {
          "aria-label": "Filtrar items de la lista de Solicitudes."
        }
      })  }}
    </div>
  </div>
  
</div>

  <ul aria-label="Listado de...">
    <li>
      {{ componentItemListSolicitudes({
        "idNumber": "12345678Z",
        "text": "Marta Martín Martínez",
        "status": {
          "type": "recibida"
        },
        "statusDateText": "Solicitada el 25 de enero a las 10:30",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Motivo"
              },
              "definition": {
                "text": "Nueva"
              },
              "classes": "lg:w-1/6 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Dirección de entrega"
              },
              "definition": {
                "text": "Edificio Pignatelli - Paseo María Agustín,36, Puerta 33, Planta 3"
              },
              "classes": "lg:w-5/6 pr-base mb-xs"
            }
          ]
        }
      })  }}
    </li>
    <li>
      {{ componentItemListSolicitudes({
        "idNumber": "14253678A",
        "text": "Martina López Martínez",
        "status": {
          "type": "rechazada"
        },
        "statusDateText": "Solicitada el 25 de enero a las 10:30",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Motivo"
              },
              "definition": {
                "text": "Deterioro"
              },
              "classes": "lg:w-1/6 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Dirección de entrega"
              },
              "definition": {
                "text": "Edificio Pignatelli - Paseo María Agustín,36, Puerta 33, Planta 3"
              },
              "classes": "lg:w-5/6 pr-base mb-xs"
            }
          ]
        }
      })  }}
    </li>
    <li>
      {{ componentItemListSolicitudes({
        "idNumber": "85967412S",
        "text": "Gabriel García Garcés",
        "status": {
          "type": "recibida"
        },
        "statusDateText": "Solicitada el 25 de enero a las 10:30",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Motivo"
              },
              "definition": {
                "text": "Robo"
              },
              "classes": "lg:w-1/6 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Dirección de entrega"
              },
              "definition": {
                "text": "Edificio Pignatelli - Paseo María Agustín,36, Puerta 33, Planta 3"
              },
              "classes": "lg:w-5/6 pr-base mb-xs"
            }
          ]
        }
      })  }}
    </li>
    <li>
      {{ componentItemListSolicitudes({
        "idNumber": "45612378D",
        "text": "Marcos Martínez Martín",
        "status": {
          "type": "recibida"
        },
        "statusDateText": "Solicitada el 25 de enero a las 10:30",
        "items": {
          "classes": "lg:flex lg:flex-wrap w-full",
          "items": [
            {
              "term": {
                "text": "Motivo"
              },
              "definition": {
                "text": "Extravío"
              },
              "classes": "lg:w-1/6 pr-base mb-xs"
            },
            {
              "term": {
                "text": "Dirección de entrega"
              },
              "definition": {
                "text": "Edificio Pignatelli - Paseo María Agustín,36, Puerta 33, Planta 3"
              },
              "classes": "lg:w-5/6 pr-base mb-xs"
            }
          ]
        }
      })  }}
    </li>
    
  </ul>

  
{{ componentPagination({
  "idPrefix": "pagination",
  "totalItems": "64",
  "itemsPerPage": "10",
  "items": [
    {
      "href": "#",
      "text": 1
    },
    {
      "href": "#",
      "text": 2,
      "active": true
    },
    {
      "href": "#",
      "text": 3
    },
    {
      "href": "#",
      "text": 4
    },
    {
      "href": "#",
      "text": 5
    },
    {
      "href": "#",
      "text": 6
    }
  ]
})  }}
  
  
{% endblock %}