{% extends "pages/_template.card-tarjetas.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk" import componentItemListSolicitudes %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/select/_macro.select.njk" import componentSelect %}

{% block contentBlock %}

<div class="w-full mb-lg">
    <div class="flex items-center">
        {% from "components/button/_macro.button.njk" import componentButton %}
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em" class="text-gray-500 mr-sm fill-current"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg> Volver a solicitudes',
          "href": "#",
          "classes": "c-button--transparent"
        })  }}   
    </div>   
</div>
  
<h1 class="c-h1 w-full mb-xl"><span class="font-normal">12345678Z - </span> Marta Martín Martínez</h1>  


{{ componentMenuHorizontal({
  "classes": "c-menu-horizontal--tabs mb-lg",
  "items": [
    {
      "href": "#",
      "text": "Última tarjeta"
    },
    {
      "href": "#",
      "text": "Solicitud de tarjeta en curso",
      "active": true
    },
    {
      "href": "#",
      "text": "Certificado"
    }
  ],
  "attributes": {
    "aria-label": "Menu de tarjetas"
  }
})  }}

<div class="lg:flex lg:flex-wrap lg:items-center w-full mb-lg">
    <h2 class="c-h2 flex-1 mb-0">Solicitud de tarjeta en curso</h2>    
    <div class="flex lg:items-center mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base">        
        {{ componentButton({
        "text": "Solicitar tarjeta",
        "classes": "c-button--primary"
        })  }}
    </div>
</div>

<p class="italic">No hay ninguna solicitud de tarjeta en curso.</p>
  







  
  
{% endblock %}