{% extends "pages/_template.card-no-header.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/input/_macro.input.njk" import componentInput %}

{% block contentBlock %}




{% call componentModal({
  "id": "buscar-dni",
  "title": {
    "text": "Buscar titular por DNI"
  },
  "itemsPrimary": [
    {
      
      "text": "Continuar",
      "classes": "c-button--primary"
    }
  ],
  "itemsSecondary": [
    {
      "text": "Cancelar"
    }
  ],
  "isDismissible": true,
  "icon": {
    "html":'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="120" height="120" class="mr-base fill-current">
              <g fill="none" stroke="#6B7280" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M4.375 61.25a56.875 56.875 0 10113.75 0 56.875 56.875 0 10-113.75 0zM101.465 101.465l34.16 34.16" stroke-width="8.749995"/>
                <path d="M42.6 47.087a18.655 18.655 0 1037.31 0 18.655 18.655 0 10-37.31 0zM87.5 86.468a33.302 33.302 0 00-52.5 0" stroke-width="8.749995"/>
                <path d="M79.917 47.705a37.48 37.48 0 01-10.36 1.458 37.164 37.164 0 01-25.224-9.84" stroke-width="8.749995"/>
              </g>
            </svg>'
  },
  "classes": "max-w-2xl shadow-md"
})  %}
  {{ componentInput({
    "label": {
      "text": "Introduce el DNI del titular para importar sus datos desde SIRHGA"
    },
    "id": "dni-titular",
    "name": "dni-titular",
    "placeholder": "Ej: 12345678Z",
    "classes": "mx-auto",
    "formGroup": {
      "classes": "text-center"
    }
  })  }}
{% endcall %}
<p>&nbsp;</p>
{{ componentModal({
  "id": "buscar-dni-no-encontrado",
  "title": {
    "text": "Titular no encontrado/a en SIRHGA"
  },
  "description": {
    "html": 'No se han encontrado coincidencias para el DNI 12345678Z. Por favor, asegúrate de que el DNI es correcto y de que la persona está dada de alta en SIRHGA para poder realizar la solicitud.'
  },
  "itemsPrimary": [
    {
      
      "text": "Aceptar y cerrar",
      "classes": "c-button--primary"
    }
  ],
  "itemsSecondary": [
    {
      "text": "Volver"
    }
  ],
  "isDismissible": true,
  "icon": {
    "html":'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="120" height="120" class="mr-base fill-current">
              <g fill="none" stroke="#FCA5A5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M110.104 57.237A52.867 52.867 0 1157.243 4.375a52.862 52.862 0 0152.861 52.862zM38.313 38.313l37.124 37.124M38.313 75.437l37.124-37.124M94.623 94.617l41.002 41.008" stroke-width="8.749995"/>
              </g>
            </svg>'
  },
  "classes": "max-w-2xl shadow-md"
})  }}
<p>&nbsp;</p>
{{ componentModal({
  "id": "buscar-dni-no-encontrado",
  "title": {
    "text": "Ya existe una solicitud para este/a titular"
  },
  "description": {
    "html": 'Ya existe una solicitud para el DNI 12345678Z y, por tanto, no es posible realizar una nueva. Accede a solicitudes para ver el detalle de esta solicitud o haz clic en ver solicitud'
  },
  "itemsPrimary": [
    {      
      "text": "Ver solicitud",
      "classes": "c-button--primary"
    }
  ],
  "itemsSecondary": [
    {
      "text": "Cancelar"
    }
  ],
  "isDismissible": true,
  "icon": {
    "html":'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="120" height="120" class="mr-base fill-current">
              <g fill="none" stroke="#FCA5A5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M32.813 63.438a15.313 15.313 0 1030.624 0 15.313 15.313 0 10-30.624 0zM21.875 109.375a26.25 26.25 0 0152.5 0zM83.125 65.625h26.25M83.125 83.125h35" stroke-width="8.749995"/>
                <path d="M126.875 30.625H13.125a8.75 8.75 0 00-8.75 8.75v87.5a8.75 8.75 0 008.75 8.75h17.5a8.75 8.75 0 0117.5 0h43.75a8.75 8.75 0 0117.5 0h17.5a8.75 8.75 0 008.75-8.75v-87.5a8.75 8.75 0 00-8.75-8.75zM135.625 13.125a8.75 8.75 0 00-8.75-8.75H13.125a8.75 8.75 0 00-8.75 8.75" stroke-width="8.749995"/>
              </g>
            </svg>'
  },
  "classes": "max-w-2xl shadow-md"
})  }}


{% endblock %}