{% set title = "Nuevo registrador. CARD. Gobierno de Aragón" %}
{% extends "pages/_template.edit-fixed.njk" %}

{# Dependencias #}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}

{# Definiciones #}
{% set checkACsectorpublico %}
  {{ componentCheckboxes({
    "idPrefix": "certificado-sector-publico",
    "name": "certificado-sector-publico",
    "fieldset": {
      "legend": {
        "text": "Tipos de certificado *"
      }
    },
    "items": [
      {
        "value": "empleado-publico",
        "text": "Empleado público"
      },
      {
        "value": "empleado-publico-pseudo",
        "text": "Empleado público con pseudónimo"
      },
      {
        "value": "sede-electronica",
        "text": "Sede electrónica"
      },
      {
        "value": "sello-electronico",
        "text": "Sello electrónico"
      }
    ]
  }) }}
{% endset%}
{% set checkACcomponentes %}
  {{ componentCheckboxes({
    "idPrefix": "certificado-componentes",
    "name": "certificado-componentes",
    "fieldset": {
      "legend": {
        "text": "Tipos de certificado *"
      }
    },
    "items": [
      {
        "value": "certificado-ssl",
        "text": "Certificado SSL"
      },
      {
        "value": "sello-identidad",
        "text": "Sello de identidad"
      }
    ]
  }) }}
{% endset%}


{# Cabecera #}
{% block headerTitleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="self-start mr-base text-neutral-dark"><g fill="currentColor"><path d="M24 6.25a2 2 0 0 0-2-2h-6a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 1-1 0v-2.5a3 3 0 0 0-6 0v2.5a.5.5 0 0 1-1 0v-1.5a.5.5 0 0 0-.5-.5H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2ZM10.5 3.5a1 1 0 1 1 1 1 1 1 0 0 1-1-1Zm-8 17.75a.5.5 0 0 1-.5-.5v-10.5a.5.5 0 0 1 .5-.5h19a.5.5 0 0 1 .5.5v10.5a.5.5 0 0 1-.5.5Z"/><path d="M19.25 13.5H14.5a.75.75 0 0 0 0 1.5h4.75a.75.75 0 0 0 0-1.5ZM18 16.5h-3.5a.75.75 0 0 0 0 1.5H18a.75.75 0 0 0 0-1.5ZM9.46 16.62a.89.89 0 0 1 0-.39 4 4 0 0 0 .86-2.77 2.29 2.29 0 1 0-4.58 0 4 4 0 0 0 .83 2.73c0 .09 0 .35.07.38-1.54.58-2.39 1-2.73 1.71a4.08 4.08 0 0 0-.37 1.15.47.47 0 0 0 .11.41A.49.49 0 0 0 4 20h8a.49.49 0 0 0 .38-.18.47.47 0 0 0 .11-.41 4.08 4.08 0 0 0-.37-1.15c-.34-.69-1.19-1.11-2.66-1.64Z"/></g></svg>
{% endblock %}
{% block headerTitleEditBlock %}
  <h1 class="text-lg uppercase font-bold leading-tight">
    Añadir Registrador
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Añadir registrador",
          "href": "#",
          "classes": "c-button--primary",
          "disabled": true
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Cancelar",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  {{ componentNotification({
    "title": {
      "html": 'Recuerda que es necesario <a class="c-link" href="#">dar de alta al registrador en la FNMT</a> antes de hacerlo en CARD'
    },
    "icon": {
      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5" aria-label="Atención" focusable="false"><path d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"/></svg>'
    },
    "id": "with-custom-icon",
    "classes": "border-warning-base items-center mb-xl" ,
    "isDismissible": true
  })  }}

  <fieldset class="mb-base">
    <legend class="c-h3 mb-xs">Información de la persona registradora</legend>
    <p class="c-paragraph-base">Indica los datos de la persona registradora.</p>
    <div class="grid md:grid-cols-2 gap-x-12">
      <div>
        {{ componentInput({
          "label": {
            "text": "DNI *"
          },
          "classes":"w-full",
          "id": "dni-registrador",
          "name": "dni-registrador"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Nombre *"
          },
          "classes":"w-full",
          "id": "nombre-registrador",
          "name": "nombre-registrador"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Primer apellido *"
          },
          "classes":"w-full",
          "id": "apellido1-registrador",
          "name": "apellido1-registrador"
        })  }}
      </div>
      <div>
        {{ componentInput({
          "label": {
            "text": "Segundo apellido *"
          },
          "classes":"w-full",
          "id": "apellido2-registrador",
          "name": "apellido2-registrador"
        })  }}
      </div>
      <div class="md:col-span-2">
        {{ componentCheckboxes({
          "idPrefix": "autoridad-certificacion",
          "name": "autoridad-certificacion",
          "fieldset": {
            "legend": {
              "text": "Autoridad de certificación *"
            }
          },
          "items": [
            {
              "value": "AC-sectorpublico",
              "text": "AC Sector Público",
              "conditional": {
                "html": checkACsectorpublico
              }
            },
            {
              "value": "AC-componentes",
              "text": "AC Componentes",
              "conditional": {
                "html": checkACcomponentes
              }
            },
            {
              "value": "AC-usuarios",
              "text": "AC FNMT Usuarios: Persona física"
            }
          ]
        }) }}
      </div>
      <div>
        {{ componentDateInput({
          "id": "fecha-alta",
          "namePrefix": "fecha-alta",
          "fieldset": {
            "legend": {
              "text": "Fecha de alta *"
            }
          },
          "items": [
            {
              "name": "día",
              "classes": "w-14",
              "attributes": {
                "maxlength": "2"
              }
            },
            {
              "name": "mes",
              "classes": "w-14",
              "attributes": {
                "maxlength": "2"
              }
            },
            {
              "name": "año",
              "classes": "w-20",
              "attributes": {
                "maxlength": "4"
              }
            }
          ]
        }) }}
      </div>
      <div class="self-end mb-8">
        {{ componentSearchbar({
          "id": "csv-doc-alta",
          "label": {
            "text": "CSV del documento de alta *",
            "classes": "not-sr-only mb-sm"
          }
        }) }}
      </div>
      <div class="md:col-span-2">
        {{ componentTextarea({
          "id": "observaciones",
          "name": "observaciones",
          "label": {
            "text": "Observaciones"
          },
          "classes": "w-full"
        }) }}
      </div>
    </div>
  </fieldset>
{% endblock %}