{% extends "pages/_template.card-no-header.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block contentBlock %}


{{ componentModal({
  "id": "buscar-dni",
  "title": {
    "text": "Selecciona la impresora"
  },
  "description": {
    "html": 'Indica la impresora a la que quieres enviar las tarjetas seleccionadas.
            <!-- select -->
            <div class="c-form-group">
                <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full" id="select-5" name="select-5">
                  <option selected disabled>Selecciona la impresora</option>
                  <option value="1">Impresora 1</option>
                  <option value="2">Impresora 2</option>
                  <option value="3">Impresora 3</option>
              </select>
            </div>
            <!-- /select -->'
  },
  "itemsPrimary": [
    {
      "text": "Cancelar"
    }
  ],
  "itemsSecondary": [
    {
      "text": "Continuar",
      "classes": "c-button--primary"
    }
  ],
  "isDismissible": true,
  "icon": {
    "html":'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="120" height="120" class="mr-base fill-current">
              <g fill="#5e616b" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M140 52.5A12.52 12.52 0 00127.5 40H110V7.5a7.5 7.5 0 00-7.5-7.5h-65A7.5 7.5 0 0030 7.5V40H12.5A12.52 12.52 0 000 52.5v35A12.52 12.52 0 0012.5 100H30v32.5a7.5 7.5 0 007.5 7.5h65a7.5 7.5 0 007.5-7.5V100h17.5A12.52 12.52 0 00140 87.5zm-45 70a2.5 2.5 0 01-2.5 2.5h-45a2.5 2.5 0 01-2.5-2.5v-20a2.5 2.5 0 012.5-2.5h45a2.5 2.5 0 012.5 2.5zm0-70a2.5 2.5 0 01-2.5 2.5h-45a2.5 2.5 0 01-2.5-2.5v-35a2.5 2.5 0 012.5-2.5h45a2.5 2.5 0 012.5 2.5zM120 85h-15a5 5 0 010-10h15a5 5 0 010 10z"/>
            </svg>'    
  },
  "classes": "max-w-2xl shadow-md"
})  }}
  


  
  
  
{% endblock %}

<svg viewBox="0 0 140 140" height="140" width="140" xmlns="http://www.w3.org/2000/svg">
  <path d="M140 52.5A12.52 12.52 0 00127.5 40H110V7.5a7.5 7.5 0 00-7.5-7.5h-65A7.5 7.5 0 0030 7.5V40H12.5A12.52 12.52 0 000 52.5v35A12.52 12.52 0 0012.5 100H30v32.5a7.5 7.5 0 007.5 7.5h65a7.5 7.5 0 007.5-7.5V100h17.5A12.52 12.52 0 00140 87.5zm-45 70a2.5 2.5 0 01-2.5 2.5h-45a2.5 2.5 0 01-2.5-2.5v-20a2.5 2.5 0 012.5-2.5h45a2.5 2.5 0 012.5 2.5zm0-70a2.5 2.5 0 01-2.5 2.5h-45a2.5 2.5 0 01-2.5-2.5v-35a2.5 2.5 0 012.5-2.5h45a2.5 2.5 0 012.5 2.5zM120 85h-15a5 5 0 010-10h15a5 5 0 010 10z"/>
</svg>