{% extends "pages/_template.card-publico.njk" %} 
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %} 
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %} 
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %} 
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %} 

{% block contentBlock %}

<h1 class="c-h1 w-full mb-lg">
  Bienvenido/a al portal público de gestión de tarjetas y certificados
</h1>

<h2 class="c-h2 w-full mb-base">
  ¿Quieres consultar la información sobre tu tarjeta y certificado?
</h2>
<p class="w-full mb-lg">
  Consulta la información sobre tu última tarjeta activa, último certificado y el estado de tus solicitudes de tarjetas y certificados<br/>
  También puedes acceder con Cl@ve permanente o DNIe y recordar el PIN y el PUK de tu tarjeta al instante.
</p>
{{ componentButton({
  "text": "Accede a tu información",
  "classes": "c-button--primary mb-2xl"
})  }}

<h2 class="c-h2 w-full mb-base">
  ¿Has olvidado el PIN/PUK de tu tarjeta?
</h2>
<p class="w-full mb-lg">
  Indica los siguientes datos para poder solicitar el recordatorio del PIN y elcódigo de desbloqueo (PUK) de tu tarjeta, que recibirás por correo electrónico.
</p>

{% call componentDetails({
  "summary": {
    "html": "Mostrar formulario de solicitud de recordatorio"
  },
  "classes": "mb-lg"
})  %}
    <form>
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-12 m-base">
        <div>
          {{ componentInput({
            "label": {
              "text": "DNI *"
            },
            "classes":"w-full",
            "id": "titular-dni",
            "name": "titular-dni"
          })  }}
        </div>
        <div>
          {{ componentInput({
            "label": {
              "text": "Nombre *"
            },
            "classes":"w-full",
            "id": "titular-nombre",
            "name": "titular-nombre"
          })  }}
        </div>
        <div>
          {{ componentInput({
            "label": {
              "text": "Primer apellido *"
            },
            "classes":"w-full",
            "id": "titular-apellido1",
            "name": "titular-apellido1"
          })  }}
        </div>
        <div>
          {{ componentInput({
            "label": {
              "text": "Segundo apellido *"
            },
            "classes":"w-full",
            "id": "titular-apellido2",
            "name": "titular-apellido2"
          })  }}
        </div>
        <div>
          {{ componentInput({
            "label": {
              "text": "Correo electrónico corporativo *"
            },
            "classes":"w-full",
            "id": "titular-email",
            "name": "titular-email"
          })  }}
        </div>
      </div>
      {{ componentButton({
        "text": "Solicitar recordatorio",
        "classes": "mx-base"
      })  }}
    </form>
{% endcall %}

{% endblock %}
