{% extends "pages/_template.card-no-header.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/modal/_macro.modal.njk" import componentModal %}

{% block contentBlock %}


{{ componentModal({
  "id": "buscar-dni",
  "title": {
    "text": "Recordatorio de PIN y PUK"
  },
  "description": {
    "html": '<p class="text-center mb-lg">A continuación se muestran el PIN y el PUK de tu tarjeta</p>
            <p class="text-center"><strong>PIN:</strong> 1234</p>
            <p class="text-center mb-xl"><strong>PUK:</strong> 12345678</p>
            '
  },
  "itemsPrimary": [
    {
      "text": "Aceptar",
      "classes": "c-button--primary"
    }
  ],
  "isDismissible": true,
  "icon": {
    "html":'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="120" height="120" class="mr-base fill-current">
              <g fill="#5e616b" stroke="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="M5.83 47.36a5.84 5.84 0 005.84-5.84l-.23-10.17a1.46 1.46 0 011.42-1.49h9.71a5.84 5.84 0 000-11.67H11.41A11.56 11.56 0 000 29.86v11.66a5.83 5.83 0 005.83 5.84zM22.57 111.52h-9.45a1.45 1.45 0 01-1.45-1.45V99.86a5.84 5.84 0 10-11.67 0v11.66a11.56 11.56 0 0011.41 11.67h11.16a5.84 5.84 0 000-11.67zM134.17 94a5.85 5.85 0 00-5.84 5.84l.23 10.18a1.46 1.46 0 01-1.42 1.48h-9.71a5.84 5.84 0 000 11.67h11.16A11.56 11.56 0 00140 111.52V99.86a5.84 5.84 0 00-5.83-5.86zM128.59 18.19h-11.16a5.84 5.84 0 000 11.67h9.45a1.45 1.45 0 011.45 1.46v10.2a5.84 5.84 0 1011.67 0V29.86a11.56 11.56 0 00-11.41-11.67zM115.13 42.48a7.52 7.52 0 00-7.52-7.48H32.39a7.52 7.52 0 00-7.52 7.52V98.9a7.52 7.52 0 007.52 7.52h11.28a3.76 3.76 0 003.76-3.76v-2.82A2.82 2.82 0 0150.25 97a2.86 2.86 0 012.83 2.82v2.82a3.76 3.76 0 003.76 3.76h26.32a3.76 3.76 0 003.76-3.76v-2.8A2.83 2.83 0 0189.75 97a2.86 2.86 0 012.82 2.82v2.82a3.76 3.76 0 003.76 3.76h11.28a7.52 7.52 0 007.52-7.52zM107.61 97a1.88 1.88 0 01-1.88 1.88h-4.09a1.88 1.88 0 01-1.83-1.45 10.34 10.34 0 00-20.13 0 1.88 1.88 0 01-1.83 1.45h-15.7a1.88 1.88 0 01-1.83-1.45 10.34 10.34 0 00-20.13 0 1.88 1.88 0 01-1.83 1.45h-4.09A1.88 1.88 0 0132.39 97V44.36a1.88 1.88 0 011.88-1.88h71.46a1.88 1.88 0 011.88 1.88z"/>
<path d="M78.46 68.81a2.82 2.82 0 002.82 2.82h18a2.82 2.82 0 100-5.64h-18a2.82 2.82 0 00-2.82 2.82zM78.46 80.09a2.82 2.82 0 002.82 2.82h9.82a2.82 2.82 0 000-5.64h-9.82a2.83 2.83 0 00-2.82 2.82zM81.28 60.35h18.81a2.82 2.82 0 000-5.64H81.28a2.82 2.82 0 000 5.64zM46.79 59.41a7.53 7.53 0 107.53-7.52 7.53 7.53 0 00-7.53 7.52zM43.7 82h21.24a1.86 1.86 0 001.9-1.85 2 2 0 00-.13-.72 13.17 13.17 0 00-24.78 0 1.88 1.88 0 001 2.44 1.77 1.77 0 00.77.13z"/>
            </svg>'    
  },
  "classes": "max-w-2xl shadow-md"
})  }}
  

  
{% endblock %}