{% set title = "Listado público de certificados. CARD. Gobierno de Aragón" %}
{% extends "pages/_template.card-publico.njk" %} 

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}


{% block contentBlock %}

  <h1 class="c-h2">Certificados electrónicos utilizados por el Gobierno de Aragón</h1>  
  <p class="c-paragraph-base lg:w-2/3">Estos son los certificados emitidos por la FNMT que utiliza el Gobierno de Aragón. Incluyen su clave pública, que permite comprobar su validez y autenticidad y se encuentran ordenados en función de su estado: activos, revocados, caducados y, dentro de cada estado, en orden alfabético.</p>

  <!--filtro-->
  {{ componentMenubar({
    "id": "certificados-filter-items",
    "idPrefix": "certificados-filter",
    "ariaLabel": "Filtrar items de la lista de certificados",
    "classes":"mb-sm",
    "items": [
      {
        "html": "Estado: Activos primero",
        "ariaLabel": "Estado: Activos primero",
        "id": "certificados-filter-ordenacion",
        "classes": "c-menubar__button--sm mb-sm",
        "sub": {
          "items": [
            {
              "role": "group",
              "ariaLabel": "Tipos de estado",
              "items": [
                {
                  "role": "menuitemradio",
                  "text": "Activos primero",
                  "checked": true
                },
                {
                  "role": "menuitemradio",
                  "text": "Revocados primero"
                },
                {
                  "role": "menuitemradio",
                  "html": "Caducados primero"
                }
              ]
            }
          ],
          "attributes": {
            "aria-labelledby": "certificados-filter-ordenacion"
          }
        }
      }
    ],
    "classes": "c-menubar--last-right"
  })  }}

  <!--certificado activo-->
  <div class="flex flex-wrap p-base mb-sm bg-white border border-neutral-base rounded">
    <div class="lg:flex flex-1 self-center">
      <div class="lg:flex-1 lg:self-center">
        <p class="font-bold pb-xs" id="item-1">Nombre del certificado</p>
        <p class="pb-sm">Unidad organizativa (organismo)</p>
        <ul class="-ml-base lg:divide-x lg:divide-neutral-base">
          <li class="lg:inline-block px-base uppercase font-semibold"><span class="inline-block w-base h-base mr-sm mt-1 bg-success-base align-top"></span>Activo</li>
          <li class="lg:inline-block px-base">Válido desde 01/01/2001 hasta 31/12/2001</li>
        </ul>
      </div>
      <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 lg:ml-base">
        <ul class="flex flex-wrap gap-sm">
          <li><button id="btn-1" class="c-button c-button--sm" aria-labelledby="btn-1 item-1">Descargar</button></li>
        </ul>
      </div>
    </div>
  </div>
  <!--certificado revocado-->
  <div class="flex flex-wrap p-base mb-sm bg-white border border-neutral-base rounded">
    <div class="lg:flex flex-1 self-center">
      <div class="lg:flex-1 lg:self-center">
        <p class="font-bold pb-xs" id="item-2">Nombre del certificado</p>
        <p class="pb-sm">Unidad organizativa (organismo)</p>
        <ul class="-ml-base lg:divide-x lg:divide-neutral-base">
          <li class="lg:inline-block px-base uppercase font-semibold"><span class="inline-block w-base h-base mr-sm mt-1 bg-alert-base align-top"></span>Revocado</li>
          <li class="lg:inline-block px-base">Válido desde 01/01/2001 hasta 31/12/2001</li>
        </ul>
      </div>
      <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 lg:ml-base">
        <ul class="flex flex-wrap gap-sm">
          <li><button id="btn-2" class="c-button c-button--sm" aria-labelledby="btn-2 item-2">Descargar</button></li>
        </ul>
      </div>
    </div>
  </div>
  <!--certificado caducado-->
  <div class="flex flex-wrap p-base mb-sm bg-white border border-neutral-base rounded">
    <div class="lg:flex flex-1 self-center">
      <div class="lg:flex-1 lg:self-center">
        <p class="font-bold pb-xs" id="item-3">Nombre del certificado</p>
        <p class="pb-sm">Unidad organizativa (organismo)</p>
        <ul class="-ml-base lg:divide-x lg:divide-neutral-base">
          <li class="lg:inline-block px-base uppercase font-semibold"><span class="inline-block w-base h-base mr-sm mt-1 bg-black align-top"></span>Caducado</li>
          <li class="lg:inline-block px-base">Válido desde 01/01/2001 hasta 31/12/2001</li>
        </ul>
      </div>
      <div class="w-full lg:w-auto lg:text-right mt-base lg:mt-0 lg:ml-base">
        <ul class="flex flex-wrap gap-sm">
          <li><button id="btn-3" class="c-button c-button--sm" aria-labelledby="btn-3 item-3">Descargar</button></li>
        </ul>
      </div>
    </div>
  </div>

  <!--paginacion-->
  {{ componentPagination({
    "id": "default",
    "idPrefix": "pagination",
    "totalItems": "64",
    "itemsPerPage": "10",
    "items": [
      {
        "href": "#",
        "text": 1,
        "active": true
      },
      {
        "href": "#",
        "text": 2
      },
      {
        "href": "#",
        "text": 3
      }
    ],
    "attributes": {
      "aria-label": "Paginación"
    },
    "classes": "mt-base lg:mt-sm"
  }) }}
  
{% endblock %}