{% extends "pages/_template.card-tarjetas.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk" import componentItemListSolicitudes %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/select/_macro.select.njk" import componentSelect %}

{% block contentBlock %}

<div class="w-full mb-lg">
    <div class="flex items-center">
        {% from "components/button/_macro.button.njk" import componentButton %}
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em" class="text-gray-500 mr-sm fill-current"><path d="M54.87 71.77a2.5 2.5 0 010-3.54L106 17.07A10 10 0 1091.89 2.93L35.43 59.39a15 15 0 000 21.22l56.46 56.46A10 10 0 10106 122.93z" fill="currentColor"/></svg> Volver a solicitudes',
          "href": "#",
          "classes": "c-button--transparent"
        })  }}   
    </div>   
</div>
  
<h1 class="c-h1 w-full mb-xl"><span class="font-normal">12345678Z - </span> Marta Martín Martínez</h1>  


{{ componentMenuHorizontal({
  "classes": "c-menu-horizontal--tabs mb-lg",
  "items": [
    {
      "href": "#",
      "text": "Última tarjeta"
    },
    {
      "href": "#",
      "text": "Solicitud de tarjeta en curso"
    },
    {
      "href": "#",
      "text": "Último Certificado"
    },
    {
      "href": "#",
      "text": "Solicitud de certificado en curso",
      "active": true
    }
  ],
  "attributes": {
    "aria-label": "Menu de tarjetas"
  }
})  }}

{{ componentNotification({
    "title": {
      "html": "Por cuestiones de seguridad, la descarga del certificado estará disponible por tiempo limitado.<br/>Una vez descargado, recuerde confirmar que se ha realizado correctamente."
    },
    "icon": {
      "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"w-4 h-4 mt-sm\" aria-label=\"Atención\" focusable=\"false\"><path d=\"M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z\" fill=\"currentColor\"/></svg>"
    },
    "id": "with-custom-icon",
    "classes": "border-warning-base mb-xl",
    "isDismissible": true
})  }}

<div class="lg:flex lg:flex-wrap lg:items-center w-full mb-lg">
    <h2 class="c-h2 flex-1 mb-0">Solicitud de certificado en curso</h2>    
    <div class="flex lg:items-center mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base">        
        {{ componentButton({
          "text": "Confirmar descarga",
          "classes": "mr-base"
        })  }}
        {{ componentButton({
          "text": "Descargar certificado",
          "classes": "c-button--primary"
        })  }}
        
    </div>
</div>

<h3 class="c-h3 mb-lg">
    Estado de la solicitud
  </h3>
  
<div id="stepper-solicitud" class="mx-10 p-4 mb-24">
  
  <div class="lg:flex items-center">
      <div class="flex lg:items-center text-teal-600 relative">
          <div class="rounded-full h-8 lg:h-6 w-8 lg:w-6 py-1 border-2 bg-primary-base border-primary-base"></div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 w-36 text-sm font-medium">
            <strong class="block text-primary-base mb-xs">Solicitud</strong>                  
            <span class="text-neutral-base">14/01/2021 11:29</span>
          </div>
      </div>      
      <div class="lg:flex-auto h-24 lg:h-0 ml-4 lg:ml-0 border-l-2 lg:border-l-0 lg:border-t-2 border-primary-base"></div>
      <div class="flex lg:items-center text-gray-500 relative">
          <div class="rounded-full h-8 lg:h-6 w-8 lg:w-6 py-1 border-2 bg-primary-base border-primary-base"></div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 w-36 text-sm font-medium">
            <strong class="block text-primary-base mb-xs">Acreditación</strong>                  
            <span class="text-neutral-base">14/01/2021 11:32</span>                                   
          </div>
      </div>
      <div class="lg:flex-auto h-24 lg:h-0 ml-4 lg:ml-0 border-l-2 lg:border-l-0 lg:border-t-2 border-primary-base"></div>
      <div class="flex lg:items-center text-gray-500 relative">
          <div class="rounded-full h-8 lg:h-6 w-8 lg:w-6 py-1 border-2 bg-primary-base border-primary-base"></div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 w-36 text-sm font-medium">
            <strong class="block text-primary-base mb-xs">Recepción claves</strong>                  
            <span class="text-neutral-base">14/01/2021 11:38</span>                                   
          </div>
      </div>
      <div class="lg:flex-auto h-24 lg:h-0 ml-4 lg:ml-0 border-l-2 lg:border-l-0 lg:border-t-2 border-neutral-base border-dashed"></div>
      <div class="flex lg:items-center text-gray-500 relative">
          <div class="rounded-full h-8 lg:h-6 w-8 lg:w-6 py-1 border-2 border-neutral-base"></div>
          <div class="absolute left-12 lg:left-0 lg:top-0 lg:-ml-14 lg:text-center lg:mt-10 w-36 text-sm font-semibold">
            <span class="block text-black mb-xs">Descarga</span>        
          </div>
      </div>
  </div>

</div>  

<h3 class="c-h3 mb-lg">Datos del titular del certificado</h3>

{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full mb-base",
  "items": [
    {
      "term": {
        "text": "DNI"
      },
      "definition": {
        "text": "12345678Z"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Nombre"
      },
      "definition": {
        "text": "Marta"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Primer apellido"
      },
      "definition": {
        "text": "Martín"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Segundo apellido"
      },
      "definition": {
        "text": "Martínez"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    }
  ]
})  }}

<h3 class="c-h3 mb-lg">Datos de la solicitud</h3>

{{ componentDescriptionList({
  "classes": "flex flex-wrap w-full mb-base",
  "items": [
    {
      "term": {
        "text": "Organismo solicitante"
      },
      "definition": {
        "text": "Servicio de transformación digital"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Usuario/a solicitante"
      },
      "definition": {
        "text": "Marta Pérez Gil"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    },
    {
      "term": {
        "text": "Código solicitud"
      },
      "definition": {
        "text": "591214113"
      },
      "classes": "w-full lg:w-1/2 mb-lg pr-lg"
    }
  ]
})  }}







  
  
{% endblock %}