<h1 class="c-h1">Título 1</h1>
<h2 class="c-h2">Título 2</h2>
<p class="c-paragraph-lg">Párrafo destacados</p>
<p class="c-paragraph-base">Párrafo por defecto</p>
<p class="c-paragraph-base text-neutral-dark">Párrafo secundario</p>
<p class="c-paragraph-sm">Párrafo pequeño</p>
<p class="c-paragraph-sm text-neutral-dark">Párrafo pequeño secundario</p>