
<!--  _ds.section.color.njk -->

<div class="container mx-auto">
  {% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
  {{ DSSectionTitle({
    title: "Color"
  }) }}
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Color de interacción"
  }) }}
  <p class="c-paragraph-base">El azul es el color principal de interacción, presente en los botones primarios y links.</p>
  {% include "ds/_ds.example.color-de-interaccion.njk" %}
  <div class="my-lg">
    {% from "ds/_ds.macro.code-snippet.njk" import DSCodeSnippet %}
    {{ DSCodeSnippet("ds/_ds.example.color-de-interaccion.njk") }}
  </div>
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Colores de soporte"
  }) }}
  <p class="c-paragraph-base">Son los colores utilizados para diversos usos.</p>
  <div class="grid grid-cols-6 gap-5 mb-sm">
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-warning-base text-black"><div class="self-center text-center w-full">warning</div></div>
    </div>
    <div class="flex col-span-2">
      <div class="self-center text-sm">
        Focus <br>
        Aviso de precaución <br>
        En espera
      </div>
    </div>
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-warning-light text-black"><div class="self-center text-center w-full">warning-light <br><br>#fef6b2</div></div>
    </div>
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-warning-base text-black"><div class="self-center text-center w-full">warning-base <br><br>#fdcb33</div></div>
    </div>
  </div>
  <div class="grid grid-cols-6 gap-5 mb-sm">
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-success-base text-black"><div class="self-center text-center w-full">success</div></div>
    </div>
    <div class="flex col-span-2">
      <div class="self-center text-sm">
        Confirmación <br>
        Publicado <br>
        Correcto
      </div>
    </div>
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-success-light text-black"><div class="self-center text-center w-full">success-light <br><br>#dcf8e2</div></div>
    </div>
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-success-base text-black"><div class="self-center text-center w-full">success-base <br><br>#24d14c</div></div>
    </div>
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-success-dark font-semibold text-white"><div class="self-center text-center w-full">success-dark <br><br>#1aa23a</div></div>
    </div>
  </div>
  <div class="grid grid-cols-6 gap-5 mb-sm">
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-info-base text-black"><div class="self-center text-center w-full">info</div></div>
    </div>
    <div class="flex col-span-2">
    </div>
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-info-light text-black"><div class="self-center text-center w-full">info-light <br><br>#feebcc</div></div>
    </div>
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-info-base text-black"><div class="self-center text-center w-full">info-base <br><br>#fa9902</div></div>
    </div>
    <div class="pb-full relative rounded overflow-hidden">
      <div class="absolute flex inset-0 bg-info-dark font-semibold text-white"><div class="self-center text-center w-full">info-dark <br><br>#c97a00</div></div>
    </div>
  </div>
  {% include "ds/_ds.example.colores-de-soporte.njk" %}
  <div class="my-lg">
    {% from "ds/_ds.macro.code-snippet.njk" import DSCodeSnippet %}
    {{ DSCodeSnippet("ds/_ds.example.colores-de-soporte.njk") }}
  </div>
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Colores neutros"
  }) }}
  <p class="mb-8">Utiliza negro para los textos principales, neutral-dark para los textos secundarios, neutral-base para bordes de tarjetas y placeholders, neutral-light y neutral-lighter para fondos.</p>
  {% include "ds/_ds.example.colores-neutros.njk" %}
  <div class="my-lg">
    {% from "ds/_ds.macro.code-snippet.njk" import DSCodeSnippet %}
    {{ DSCodeSnippet("ds/_ds.example.colores-neutros.njk") }}
  </div>
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Colores extendidos"
  }) }}
  <p class="mb-8">El framework TailwindCSS está configurado para tener una paleta extendida de colores por si fuese necesario. El framework se encarga de no exportar las clases que no se usan en el proyecto con PurgeCSS. Aunque se recomienda no usarlos salvo en excepciones.</p>
  {% include "ds/_ds.example.colores-extendidos.njk" %}
  <div class="my-lg">
    {% from "ds/_ds.macro.code-snippet.njk" import DSCodeSnippet %}
    {{ DSCodeSnippet("ds/_ds.example.colores-extendidos.njk") }}
  </div>
  <h2 class="text-xl font-bold mt-16 mb-2">Border</h2>
  <p class="mb-8">Utiliza línea sólida con grosor 1px en black o neutral-base.</p>
  {% include "ds/_ds.example.border.njk" %}
  <div class="my-lg">
    {% from "ds/_ds.macro.code-snippet.njk" import DSCodeSnippet %}
    {{ DSCodeSnippet("ds/_ds.example.border.njk") }}
  </div>
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Accesibilidad de los colores"
  }) }}
  <p class="mb-base">El contraste de color entre el texto y los elementos interactivos debe cumplir el mínimo AA de WCAG para herramientas internas del gobierno y AAA para herramientas a las que tenga acceso la ciudadanía.</p>
  <p class="mb-base">El texto sobre masa de color en principio solo se usa en los botones principales, pero en caso de usarse, el peso de fuente debe ser Semibold y un tamaño mínimo de texto de 16px.</p>
  <div class="grid grid-cols-5 gap-5 mb-lg">
    <div class="p-4 bg-primary-base font-semibold text-white">
      Texto
    </div>
    <div class="p-4 bg-warning-base font-semibold text-white">
      Texto
    </div>
    <div class="p-4 bg-success-base font-semibold text-white">
      Texto
    </div>
    <div class="p-4 bg-info-base font-semibold text-white">
      Texto
    </div>
    <div class="p-4 bg-alert-base font-semibold text-white">
      Texto
    </div>
  </div>
  <p class="mb-base">En los mensajes destacados utiliza los colores claros con texto negro.</p>
  <div class="grid grid-cols-5 gap-5 mb-base">
    <div class="p-4 bg-primary-light">
      Texto
    </div>
    <div class="p-4 bg-warning-light">
      Texto
    </div>
    <div class="p-4 bg-success-light">
      Texto
    </div>
    <div class="p-4 bg-info-light">
      Texto
    </div>
    <div class="p-4 bg-alert-light">
      Texto
    </div>
  </div>
</div>
