{% set exampleComponent = "item-list-solicitudes" %}
{% set examples =  [
  {
    "name": "Item Solicitud Solicitada",
    "description": "status = solicitada",
    "data": {
      "idNumber": "12345678Z",
      "text": "Marta Martín Martínez",
      "status": {
        "type": "solicitada"
      },
      "statusDateText": "Publicado el 10 de enero",      
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Motivo"
            },
            "definition": {
              "text": "Deterioro"
            },
            "classes": "lg:w-1/6 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Dirección"
            },
            "definition": {
              "text": "Edificio Pignatelli nº 14, Zaragoza"
            },
            "classes": "lg:w-5/6 pr-base mb-xs"
          }
        ]
      }
    }
  },
  {
    "name": "Item Solicitud Rechazada",
    "description": "status = rechazada",
    "data": {
      "idNumber": "12345678Z",
      "text": "Marta Martín Martínez",
      "status": {
        "type": "rechazada"
      },
      "statusDateText": "Publicado el 10 de enero",
      
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Motivo"
            },
            "definition": {
              "text": "Nueva"
            },
            "classes": "lg:w-1/6 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Dirección"
            },
            "definition": {
              "text": "Edificio Pignatelli nº 14, Zaragoza"
            },
            "classes": "lg:w-5/6 pr-base mb-xs"
          }
        ]
      }
    }
  },
  {
    "name": "Item Solicitud En Preparación",
    "description": "status = en-preparacion",
    "data": {
      "idNumber": "12345678Z",
      "text": "Marta Martín Martínez",
      "status": {
        "type": "en-preparacion"
      },
      "statusDateText": "Publicado el 10 de enero",
      "link": {
        "text": "Ver en aragon.es",
        "url": "http://www.aragon.es"
      },
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Motivo"
            },
            "definition": {
              "text": "Robo"
            },
            "classes": "lg:w-1/6 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Dirección"
            },
            "definition": {
              "text": "Edificio Pignatelli nº 14, Zaragoza"
            },
            "classes": "lg:w-5/6 pr-base mb-xs"
          }
        ]
      }
    }
  },
  {
    "name": "Item Solicitud Enviada a unidad de personal",
    "description": "status = enviada",
    "data": {
      "idNumber": "12345678Z",
      "text": "Marta Martín Martínez",
      "status": {
        "type": "enviada"
      },
      "statusDateText": "Creado el 10 de enero",
      "items": {
        "classes": "lg:flex lg:flex-wrap w-full",
        "items": [
          {
            "term": {
              "text": "Motivo"
            },
            "definition": {
              "text": "Extravío"
            },
            "classes": "lg:w-1/6 pr-base mb-xs"
          },
          {
            "term": {
              "text": "Dirección"
            },
            "definition": {
              "text": "Edificio Pignatelli nº 14, Zaragoza"
            },
            "classes": "lg:w-5/6 pr-base mb-xs"
          }
        ]
      }
    }
  }
] %}