{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/label/_macro.label.njk" import componentLabel %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}

<div class="{%- if params.classes %} {{ params.classes }}{% endif %} mb-base border border-neutral-base rounded" {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="p-lg">
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <h3 class="lg:flex sm:flex-1 mb-sm text-xl cursor-pointer group focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="0" onclick="javascript:void(0)">
        <a href="{{ params.href }}" class="focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="-1">
          <span class="c-link">{{ params.idNumber }}</span>
          <span class="inline-block mx-2">-</span>
          <span class="font-bold group-hover:underline group-hover:text-primary-base">{{ params.html | safe if params.html else params.text }}</span>
        </a>        
      </h3>
      <p class="inline-flex flex-wrap lg:order-3 lg:w-full items-start lg:items-center">
        {% if params.status.type == 'enviada' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-success-base"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}Enviada a unidad de personal{% endif %}</span>
        {% elseif params.status.type == 'recibida' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-success-dark"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}Recibida en unidad de personal{% endif %}</span>
        {% elseif params.status.type == 'solicitada' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-info-base"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}Solicitada{% endif %}</span>
        {% elseif params.status.type == 'en-preparacion' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-warning-base"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}En preparación{% endif %}</span>
        {% elseif params.status.type == 'rechazada' %}
          <span class="inline-block w-base h-base mr-sm mt-1 lg:mt-0 bg-alert-dark"></span>
          <span class="flex-1 lg:flex-initial">{% if params.status.text %}{{ params.status.text }}{% else %}Rechazada{% endif %}</span>
        {% endif %}
        <span class="w-full lg:w-auto ml-base pl-sm lg:pl-base lg:border-l lg:border-neutral-base">{{ params.statusDateText }}</span>
      </p>
    </div>
  </div>
  <hr class="border-neutral-base">
  <div class="px-lg py-base">
    {{ componentDescriptionList(params.items)  }}
  </div>
</div>