<div {%- if params.classes %} class="{{ params.classes }}"{% endif %}
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <p>{{ params.html | safe if params.html else params.text }}</p>
  {% if caller %}
    {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
  {% elseif params.caller %}
    {{ params.caller | safe }}
  {% endif %}
</div>