{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}

<div class=" mb-base border border-neutral-base rounded">
  <div class="p-base">
    <div class="lg:flex lg:flex-wrap lg:w-full">
      <h3 class="lg:flex lg:items-center sm:flex-1 mb-sm text-xl cursor-pointer group focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" tabindex="0" onclick="javascript:void(0)">
        {{ componentCheckboxes({
          "idPrefix": "chebox-user",
          "name": "chebox-user",
          "classes": "mx-0",
          "formGroup": {
            "classes": "mb-0"
          },      
          "items": [
            {
              "value": "value"
            }
          ]
        })  }}
        <a href="" class="c-link" tabindex="-1">{{ userDni }}</a>
        <span class="inline-block mx-2">-</span>
        <span class="font-bold group-hover:underline group-hover:text-primary-base">{{ userName }}</span>
      </h3>        
    </div>
  </div>
  <hr class="border-neutral-base">
  <div class="px-lg py-base">
    <dl class="lg:flex lg:flex-wrap w-full">
      <div class="lg:w-1/4 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Motivo de la baja
        </dt>
        <dd class="text-base text-black">
          {{ motivoBaja }}
        </dd>
      </div>
      <div class="lg:w-3/4 pr-base mb-xs">
        <dt class="text-sm text-neutral-dark">
          Fecha de la baja
        </dt>
        <dd class="text-base text-black">
          {{ fechaBaja }}
        </dd>
      </div>            
    </dl>
  </div>
</div>