

{% from "components/test-component/_macro.test-component.njk"
import componentTestComponent %}
{% from "components/test-component-caller/_macro.test-component-caller.njk"
import componentTestComponentCaller %}
{% from "components/item-list-solicitudes/_macro.item-list-solicitudes.njk"
import componentItemListSolicitudes %}

{% macro exampleRender(data) %}
  {% set exampleComponent = data.data.exampleComponent %}
  {% set examples = data.data.examples %}
  {% set exampleParams = data.data.params %}
  <div x-data="{isOpenParams: false, textShow: 'Show params'}">
    <h1 class="c-h1 inline-block">{{ exampleComponent | capitalize }} examples</h1>
    <span x-text="textShow" @click="isOpenParams = !isOpenParams; isOpenParams ? textShow = 'Hide params' : textShow = 'Show params'" class="inline-block ml-sm text-sm text-primary-base font-normal hover:text-primary-dark underline cursor-pointer">Show params</span>
    <div x-show.transition.opacity="isOpenParams" class="c-markup">
      <div class="py-base">
        <h4 class="mb-sm font-bold">Params</h4>
        {% from "_macro.load-component-params.njk" import loadComponentParams %}
        {% set componentYaml %}{{ loadComponentParams(exampleComponent) }}{% endset %}
        <pre><code class="language-yaml">{{ componentYaml | e }}</code></pre>
      </div>
    </div>
  </div>
  {% for example in examples %}
    <h4 id="example-{{ exampleComponent }}-{{ loop.index }}" class="mt-base text-sm text-neutral-dark uppercase group">
      <a href="#example-{{ exampleComponent }}-{{ loop.index }}" class="hover:text-primary-base" title="permalink">{{ example.name }}</a>
    </h4>
    <p class="mb-base text-sm text-neutral-dark">{{ example.description }}</p>
    <div x-data="{isOpenCode: false, textShow: 'Show code'}" class="mt-xl  py-lg border-b border-neutral-base">
      {% if exampleComponent == "test-component" %}
      {{ componentTestComponent(example.data) }}
      {% elseif exampleComponent == "test-component-caller" %}
      {% call componentTestComponentCaller(example.data) %}{{ example.data.caller | safe }}{% endcall %}
      {% elseif exampleComponent == "item-list-solicitudes" %}
      {{ componentItemListSolicitudes(example.data) }}
      {% endif %}
      <div class="mt-xl py-base">
        <span x-text="textShow" @click="isOpenCode = !isOpenCode; isOpenCode ? textShow = 'Hide code' : textShow = 'Show code'" class="text-primary-base hover:text-primary-dark underline cursor-pointer">Show code</span>
      </div>
      <div x-show.transition.opacity="isOpenCode" class="c-markup">
        <div class="py-base">
          <h4 class="mb-sm font-bold">Macro</h4>
          {% if example.data.caller %}
            {% from "_macro.render-caller.njk" import renderCaller %}
            {% set callerHtml %}{{ renderCaller(example.data.caller | safe) }}{% endset %}
            <pre><code class="language-twig">{% raw %}{# {% endraw %}Remove the "caller" json parameter and use just the code between "call" and "endcall" instead{% raw %} #} {% endraw %}
              {% raw %}{%{% endraw %} from "components/{{ exampleComponent }}/_macro.{{ exampleComponent }}.njk" import component{{ exampleComponent | replace("-", " ") | title | replace(" ","") }}{% raw %} %}{% endraw %}
            {% raw %}{% {% endraw %}call component{{ exampleComponent | replace("-", " ") | title | replace(" ","") }}({{ example.data | dump(2) }}) {% raw %} %}{% endraw %}
  {{ callerHtml | e }}{% raw %}{% {% endraw %}endcall{% raw %} %}{% endraw %}</code></pre>
          {% else %}
            <pre><code class="language-twig">{% raw %}{%{% endraw %} from "components/{{ exampleComponent }}/_macro.{{ exampleComponent }}.njk" import component{{ exampleComponent | replace("-", " ") | title | replace(" ","") }}{% raw %} %}{% endraw %}
            {% raw %}{{ {% endraw %}component{{ exampleComponent | replace("-", " ") | title | replace(" ","") }}({{ example.data | dump(2) }}) {% raw %} }}{% endraw %}</code></pre>
          {% endif %}
        </div>
        <div class="py-base">
          <h4 class="mb-sm font-bold">Markup</h4>
          {% from "_macro.load-component-template.njk" import loadComponentTemplate %}
          {% set componentHtml %}{{ loadComponentTemplate(exampleComponent, example.data) }}{% endset %}
          <pre><code class="language-html">{{ componentHtml | e }}</code></pre>
        </div>
      </div>
    </div>
  {% endfor %}
{% endmacro %}