{% extends "_template.default.njk" %}
{% block contentBlock %}
  <div class="pb-lg"></div>
  <div class="c-h1">Componentes</div>
  <div class="pb-lg"></div>
  {% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
  {{ componentMenuVertical({
    "items": [
    {
      href: "/examples-test-component.html",
      text: "Test component"
    },
    {
      href: "/examples-test-component-caller.html",
      text: "Test component caller"
    },
    {
      href: "/examples-item-list-solicitudes.html",
      text: "Item list solicitudes"
    }]
  })  }}
  <div class="pb-2xl"></div>
{% endblock %}