{% set title = "Maqueta de Páginas. CARD. Gobierno de Aragón" %}
{% extends "_template.default.njk" %}

{# Dependencias #}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}


{% block contentBlock %}

  <h1 class="c-h1 mt-lg">CARD / Páginas maquetadas</h1>

  <div class="grid md:grid-cols-2 gap-7 items-start">

    <div>{# Columna izquierda #}
      <h2 class="c-h2">Hasta 09-07-2021</h2>
      {{ componentMenuVertical({
        "items": [      
          {
            href: "templates/pages/p-privado_solicitante_Home.html",
            text: "03.- p-privado_solicitante_Home"
          },
          {
            href: "templates/pages/p-privado_solicitante_Solicitudes-En-curso.html",
            text: "04.- p-privado_solicitante_Solicitudes-En-curso"
          },
          {
            href: "templates/pages/p-privado_solicitante_Solicitudes-En-curso-Filtros.html",
            text: "04.- p-privado_solicitante_Solicitudes-En-curso con Filtros ---TEMPORAL---"
          },
          {
            href: "templates/pages/p-privado_solicitante_Solicitudes-Historico.html",
            text: "05.- p-privado_solicitante_Solicitudes-Historico"
          },
          {
            href: "templates/pages/p-privado_solicitante_Solicitar-tarjeta-00.html",
            text: "06-07-08.- p-privado_solicitante_Solicitar-tarjeta-00"
          },
          {
            href: "templates/pages/p-privado_solicitante_Solicitar-Tarjeta.html",
            text: "09-10-11-12.- p-privado_solicitante_Solicitar-Tarjeta-01"
          },
          {
            href: "templates/pages/p-privado_solicitante_Detalle-Solicitud-Solicitada.html",
            text: "14.- p-privado_solicitante_Detalle-Solicitud-Solicitada"
          },
          {
            href: "templates/pages/p-privado_solicitante_Detalle-solicitud-Cancelar.html",
            text: "15.- p-privado_solicitante_Detalle-solicitud-Cancelar"
          },
          {
            href: "templates/pages/p-privado_solicitante_Detalle-Solicitud-Cancelada.html",
            text: "16.- p-privado_solicitante_Detalle-Solicitud-Cancelada"
          },
          {
            href: "templates/pages/p-privado_solicitante_Detalle-Solicitud-Rechazada.html",
            text: "22.- p-privado_solicitante_Detalle-Solicitud-Rechazada"
          },
          {
            href: "templates/pages/p-privado_solicitante_Tarjetas-y-Certificados.html",
            text: "24.- p-privado_solicitante_Tarjetas-y-Certificados"
          },
          {
            href: "templates/pages/p-privado_solicitante_Tarjetas_Detalle-Tarjeta.html",
            text: "25.- p-privado_solicitante_Tarjetas_Detalle-Tarjeta"
          },
          {
            href: "templates/pages/p-privado_solicitante_Tarjetas_Detalle-Solicitud.html",
            text: "26.- p-privado_solicitante_Tarjetas_Detalle-Solicitud"
          },
          {
            href: "templates/pages/p-privado_solicitante_Tarjetas_Detalle-Solicitud-Vacio.html",
            text: "27.- p-privado_solicitante_Tarjetas_Detalle-Solicitud-Vacio"
          },
          {
            href: "templates/pages/p-privado_solicitante_Destruccion-Tarjetas.html",
            text: "28.- p-privado_solicitante_Destruccion-Tarjetas"
          },
          {
            href: "templates/pages/p-privado_solicitante_Tarjetas_Detalle-empleado_Ultimo-certificado.html",
            text: "34-35-36.- p-privado_solicitante_Tarjetas_Detalle-empleado_Ultimo-certificado"
          },
          {
            href: "templates/pages/p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-01.html",
            text: "37.- p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-01"
          },
          {
            href: "templates/pages/p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-02.html",
            text: "38.- p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-02"
          },
          {
            href: "templates/pages/p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-03.html",
            text: "39.- p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-03"
          },
          {
            href: "templates/pages/p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-04.html",
            text: "40.- p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-04"
          },
          {
            href: "templates/pages/p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-05.html",
            text: "41.- p.privado_solicitante_Tarjetas_Detalle_Solicitud-certificado-05"
          }
        ]
      })  }}
    </div>

    <div>{# Columna derecha #}
      <h2 class="c-h2">Desde 10-07-2023 <sup class="uppercase bg-warning-light px-xs">nuevas</sup></h2>
      {{ componentMenuVertical({
        "items": [      
          {
            href: "templates/pages/p-publico-consulta-certificados.html",
            text: "Listado público de certificados --PENDIENTE CONFIRMACIÓN--"
          },
          {
            href: "templates/pages/p-privado-SDA-CAU-oficinas-registro-listado.html",
            text: "Listado de oficinas de registro"
          },
          {
            href: "templates/pages/p-privado-SDA-CAU-oficinas-registro-detalle-info.html",
            text: "Detalle de oficinas de registro - Información"
          },
          {
            href: "templates/pages/p-privado-SDA-CAU-oficinas-registro-detalle-registradores.html",
            text: "Detalle de oficinas de registro - Registradores"
          },
          {
            href: "templates/pages/p-privado-SDA-CAU-oficinas-registro-oficina-nueva.html",
            text: "Nueva oficina de registro"
          },
          {
            href: "templates/pages/p-privado-SDA-CAU-oficinas-registro-oficina-edicion.html",
            text: "Edición de oficina de registro"
          },
          {
            href: "templates/pages/p-privado-SDA-CAU-oficinas-registro-registrador-nuevo.html",
            text: "Nuevo registrador"
          },
          {
            href: "templates/pages/p-privado-SDA-CAU-oficinas-registro-registrador-edicion.html",
            text: "Edición de registrador"
          }
        ]
      })  }}
    </div>

  </div>

  <div class="pb-2xl"></div>
{% endblock %}